Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @maneesht, @jsdt, @IanWyszynski, @firebase/firestore-js-team, @tonyjhuang, @zwu52, @avolkovi, @lisajian, @sam-gc, @yuchenshi, @yoyomyo, @jposuna, @erikeldridge, @egilmorez, @firebase/jssdk-changeset-approvers

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# ===========================================================
#  @firebase/jssdk-global-approvers
# ===========================================================
#  Used for approving minor changes, large-scale refactorings, and emergency situations.
#  (secret team to avoid review requests)
#
#   - @lahirumaramba
#   - @hsubox76
#   - @allspain
#   - @dwyfrequency


# ===========================================================
#  @firebase/firestore-js-team
# ===========================================================
#  Used for approving firestore changes.
#  (secret team to avoid review requests)
#
# - @schmidt-sebastian
# - @thebrianchen
# - @wu-hui
# - @ehsannas
# - @dconeybe


# These owners will be the default owners for everything in the repo.
*       @dwyfrequency @hsubox76 @firebase/jssdk-global-approvers

# Database Code
packages/database @maneesht @jsdt @IanWyszynski @firebase/jssdk-global-approvers
packages/database-compat @maneesht @jsdt @IanWyszynski @firebase/jssdk-global-approvers
packages/database-types @maneesht @jsdt @IanWyszynski @firebase/jssdk-global-approvers

# Firestore Code
packages/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-compat  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/webchannel-wrapper  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-types  @firebase/firestore-js-team @firebase/jssdk-global-approvers
integration/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers

# Storage Code
packages/storage @maneesht @tonyjhuang @firebase/jssdk-global-approvers
packages/storage-compat @maneesht @tonyjhuang @firebase/jssdk-global-approvers
packages/storage-types @maneesht @tonyjhuang @firebase/jssdk-global-approvers

# Messaging Code
packages/messaging  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-compat  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-types @zwu52 @firebase/jssdk-global-approvers
packages/messaging-interop-types @zwu52 @firebase/jssdk-global-approvers
integration/messaging @zwu52 @firebase/jssdk-global-approvers

# Auth Code
packages/auth  @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers
packages/auth-compat @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers
packages/auth-types @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers
packages/auth-interop-types @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers

# Testing Code
packages/rules-unit-testing  @avolkovi @sam-gc @yuchenshi @firebase/jssdk-global-approvers

# Installations
packages/installations @avolkovi @yoyomyo @firebase/jssdk-global-approvers
packages/installations-compat @avolkovi @yoyomyo @firebase/jssdk-global-approvers
packages/installations-types @avolkovi @yoyomyo @firebase/jssdk-global-approvers

# Performance Code
packages/performance @jposuna @firebase/jssdk-global-approvers
packages/performance-compat @jposuna @firebase/jssdk-global-approvers
packages/performance-types @jposuna @firebase/jssdk-global-approvers

# Analytics Code
packages/analytics @hsubox76 @firebase/jssdk-global-approvers
packages/analytics-compat @hsubox76 @firebase/jssdk-global-approvers
packages/analytics-types @hsubox76 @firebase/jssdk-global-approvers

# Remote Config Code
packages/remote-config @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-compat  @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-types @erikeldridge @firebase/jssdk-global-approvers

# App Check Code
packages/app-check @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-compat @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-types @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-interop-types @hsubox76 @firebase/jssdk-global-approvers

# Documentation Changes
packages/firebase/index.d.ts @egilmorez @firebase/jssdk-global-approvers
scripts/docgen/content-sources/ @egilmorez @firebase/jssdk-global-approvers

# Changeset
.changeset @egilmorez @firebase/jssdk-changeset-approvers @firebase/firestore-js-team @firebase/jssdk-global-approvers

add test demo
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

rename snapshot to promise
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Target ES6 for Console Build (#6563)
  packages/firestore-compat/tools/console.build.js
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

update the last test
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Mila/count add tests (#6566)
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Fix MFA endpoint names to be mfa provider-agnostic.
  packages/auth/src/api/account_management/mfa.test.ts
  packages/auth/src/api/account_management/mfa.ts
  packages/auth/src/api/authentication/mfa.test.ts
  packages/auth/src/api/authentication/mfa.ts
  packages/auth/src/api/index.ts
  packages/auth/src/mfa/mfa_resolver.test.ts
  packages/auth/src/platform_browser/mfa/assertions/phone.test.ts
  packages/auth/src/platform_browser/strategies/phone.test.ts
Owners: @avolkovi, @lisajian, @sam-gc, @yuchenshi, @firebase/jssdk-global-approvers

Fix formatting for auth files.
  packages/auth/karma.conf.js
  packages/auth/src/core/util/version.test.ts
  packages/auth/src/platform_browser/persistence/session_storage.test.ts
  packages/auth/src/platform_cordova/popup_redirect/events.test.ts
Owners: @avolkovi, @lisajian, @sam-gc, @yuchenshi, @firebase/jssdk-global-approvers

adding support TOTP MFA
  common/api-review/auth.api.md
  packages/auth/src/mfa/assertions/totp.ts
  packages/auth/src/model/enum_maps.ts
  packages/auth/src/model/public_types.ts
  packages/auth/src/platform_browser/mfa/assertions/totp.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @avolkovi, @lisajian, @sam-gc, @yuchenshi

Fix MFA endpoint names to be mfa provider-agnostic. (#6572)
  packages/auth/src/api/account_management/mfa.test.ts
  packages/auth/src/api/account_management/mfa.ts
  packages/auth/src/api/authentication/mfa.test.ts
  packages/auth/src/api/authentication/mfa.ts
  packages/auth/src/api/index.ts
  packages/auth/src/mfa/mfa_resolver.test.ts
  packages/auth/src/platform_browser/mfa/assertions/phone.test.ts
  packages/auth/src/platform_browser/strategies/phone.test.ts
Owners: @avolkovi, @lisajian, @sam-gc, @yuchenshi, @firebase/jssdk-global-approvers

Fix formatting for auth files. (#6573)
  packages/auth/karma.conf.js
  packages/auth/src/core/util/version.test.ts
  packages/auth/src/platform_browser/persistence/session_storage.test.ts
  packages/auth/src/platform_cordova/popup_redirect/events.test.ts
Owners: @avolkovi, @lisajian, @sam-gc, @yuchenshi, @firebase/jssdk-global-approvers

export getAggregateFromServerDirect and test it
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/platform/node/grpc_connection.ts
  packages/firestore/src/remote/connection.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/src/remote/rest_connection.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

change int32 to int64
  packages/firestore/src/protos/google/firestore/v1/query.proto
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

change int32 to int64
  packages/firestore/src/protos/google/firestore/v1/query.proto
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

fix lint conplain
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update select non-major dependencies
  package.json
  packages/app/package.json
  packages/firestore-compat/package.json
  packages/firestore/package.json
  packages/installations/package.json
  packages/messaging/package.json
  packages/rules-unit-testing/functions/yarn.lock
  repo-scripts/prune-dts/package.json
  repo-scripts/size-analysis/package.json
  yarn.lock
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team, @avolkovi, @yoyomyo, @zwu52, @sam-gc, @yuchenshi

resolve comments
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/remote/datastore.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

resolve comments
  packages/firestore/src/protos/google/firestore/v1/query.proto
  packages/firestore/src/protos/protos.json
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update firestore changed github action
  .github/workflows/test-changed-firestore.yml
  packages/firestore/test/unit/util/bundle.test.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

Remove environment variable
  packages/firestore/karma.conf.js
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update safari job format
  .github/workflows/test-changed-firestore.yml
  packages/firestore/src/api/bundle.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

Update action format
  .github/workflows/test-changed-firestore.yml
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers

Update firestore-compat to recognize browser
  config/karma.base.js
  packages/firestore-compat/karma.conf.js
  packages/firestore-compat/package.json
  packages/firestore/karma.conf.js
  scripts/run_tests_in_ci.js
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

Add initial firestore safari infrastructure
  package.json
  packages/firestore/karma.conf.js
  yarn.lock
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

Add test note
  packages/firestore/src/api/bundle.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

update yarn command
  .github/workflows/test-changed-firestore.yml
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers

remove comment
  packages/firestore/src/remote/datastore.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Mila/count export aggregate to api (#6575)
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/platform/node/grpc_connection.ts
  packages/firestore/src/remote/connection.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/src/remote/rest_connection.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

check client offline state and test
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

remove it.only
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Create eleven-moons-shave.md
  .changeset/eleven-moons-shave.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

change int32 to int64 (#6577)
  packages/firestore/src/protos/google/firestore/v1/query.proto
  packages/firestore/src/protos/protos.json
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

remove terminate test
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

remove unused import object
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

upload tests
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

reformat test case
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

remove it.only
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update eleven-moons-shave.md
  .changeset/eleven-moons-shave.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

reformat tests
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

fix typo of documentation in code
  packages/database/src/api/Reference_impl.ts
Owners: @maneesht, @jsdt, @IanWyszynski, @firebase/jssdk-global-approvers

Fix index backfilling frequency.
  packages/firestore/src/local/index_backfiller.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers
