Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jshcrowthe, @hiranya911, @mikelehen, @schmidt-sebastian, @wilhuff, @sphippen, @gauntface, @pinarx, @mmermerkaya, @dwoffinden, @bojeil-google, @wti806, @tonymeng, @ryanpbrewster

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @jshcrowthe @hiranya911

# Database Code
packages/database  @mikelehen @schmidt-sebastian
packages/database-types  @mikelehen @schmidt-sebastian

# Firestore Code
packages/firestore  @mikelehen @schmidt-sebastian @wilhuff
packages/webchannel-wrapper  @mikelehen @schmidt-sebastian @wilhuff
packages/firestore-types  @mikelehen @schmidt-sebastian @wilhuff
integration/firestore  @mikelehen @schmidt-sebastian @wilhuff

# Storage Code
packages/storage  @sphippen
packages/storage-types  @sphippen

# Messaging Code
packages/messaging  @gauntface @pinarx @mmermerkaya @dwoffinden
packages/messaging-types  @gauntface @pinarx @mmermerkaya @dwoffinden
integration/messaging  @gauntface @pinarx @mmermerkaya @dwoffinden

# Auth Code
packages/auth  @bojeil-google @wti806
packages/auth-types  @bojeil-google @wti806

# Testing Code
packages/testing  @tonymeng @ryanpbrewster

Removed build step from a test script in the auth package.
  packages/auth/package.json
Owners: @bojeil-google, @wti806

Fixed an issue with getting a PID of a local server in auth tests.
  packages/auth/buildtools/run_tests.sh
Owners: @bojeil-google, @wti806

Changed a local method name in a gulp taks of an auth package.
  packages/auth/gulpfile.js
Owners: @bojeil-google, @wti806

Initializing WatchStreamAggregator before starting stream
  packages/firestore/src/remote/remote_store.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

First cleanup
  packages/firestore/src/core/view.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

[AUTOMATED]: Prettier Code Styling
  packages/firestore/src/core/view.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

review feedback
  packages/firestore/test/integration/util/events_accumulator.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Initializing WatchStreamAggregator before starting stream (#905)
  packages/firestore/src/remote/remote_store.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Initializing WatchStreamAggregator before starting stream (#905)
  packages/firestore/src/remote/remote_store.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Test
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/view.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

[AUTOMATED]: Prettier Code Styling
  packages/firestore/src/core/sync_engine.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

no retries
  packages/firestore/package.json
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Draining on client switches
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/write_spec.test.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

[AUTOMATED]: Prettier Code Styling
  packages/firestore/test/unit/specs/spec_builder.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Draining on client switches (#907)
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/write_spec.test.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Improved a documentation, spacing and prevented duplicate calls in auth test script.
  packages/auth/buildtools/run_tests.sh
Owners: @bojeil-google, @wti806

Formatted constants in auth package's gulpfile to fit in 80 columns.
  packages/auth/gulpfile.js
Owners: @bojeil-google, @wti806

Added a comment to explain the purpose of a wrap method used in auth package's gulpfile.
  packages/auth/gulpfile.js
Owners: @bojeil-google, @wti806

Reformatted a gulpfile in the auth package according to reviewer's comments.
  packages/auth/gulpfile.js
Owners: @bojeil-google, @wti806

Added spaces to multiline assignments to align with a style guide in the auth package's gulpfile.
  packages/auth/gulpfile.js
Owners: @bojeil-google, @wti806

Added ES module bundle to the auth package (#819)
  packages/auth/buildtools/run_tests.sh
  packages/auth/gulpfile.js
  packages/auth/package.json
Owners: @bojeil-google, @wti806

Added ES module bundle to the auth package (#819)
  packages/auth/buildtools/run_tests.sh
  packages/auth/gulpfile.js
  packages/auth/package.json
Owners: @bojeil-google, @wti806

implement to keep offline status
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/unit/specs/offline_spec.test.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

change the hierachy design to use boolean var
  packages/firestore/src/remote/persistent_stream.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Update yarn.lock
  yarn.lock
Owners: @jshcrowthe, @hiranya911

Update yarn.lock
  yarn.lock
Owners: @jshcrowthe, @hiranya911

imperfect fix for the spec test: passing in listener to idle timer since offline stream does not keep listener
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/unit/specs/offline_spec.test.ts
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Removing unnecessary named firebase export
  packages/app/index.ts
  packages/functions/src/context.ts
Owners: @jshcrowthe, @hiranya911
