Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jshcrowthe, @mikelehen, @schmidt-sebastian, @wilhuff, @sphippen, @gauntface, @bojeil-google, @wti806

Adding one more --auto-watch flag
  .vscode/launch.json
Owners: @jshcrowthe

fix(Firestore): Rejecting 'null' and 'undefined' as arguments for CollectionRef.doc()
  src/firestore/api/database.ts
  tests/firestore/integration/api/validation.test.ts
Owners: @jshcrowthe

Add 3 retries to firestore tests
  packages/firestore/karma.conf.js
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

fix(Firestore): Rejecting 'null' and 'undefined' as arguments for CollectionRef.doc() (#188)
  src/firestore/api/database.ts
  tests/firestore/integration/api/validation.test.ts
Owners: @jshcrowthe

Bumping browserNoActiityTimeout
  config/karma.base.js
Owners: @jshcrowthe

@firebase/app - package.json housekeeping
  packages/app/README.md
  packages/app/package.json
Owners: @jshcrowthe

@firebase/auth - README.md housekeeping
  packages/auth/README.md
  packages/auth/package.json
Owners: @bojeil-google, @wti806

@firebase/database - README.md housekeeping
  packages/database/README.md
  packages/database/package.json
Owners: @mikelehen, @schmidt-sebastian

@firebase/firestore - README.md housekeeping
  packages/firestore/README.md
  packages/firestore/package.json
Owners: @mikelehen, @schmidt-sebastian, @wilhuff

Updating auth readme
  packages/auth/README.md
Owners: @bojeil-google, @wti806

@firebase/messaging - README.md housekeeping
  packages/messaging/README.md
  packages/messaging/package.json
Owners: @gauntface

Updating database readme
  packages/database/README.md
Owners: @mikelehen, @schmidt-sebastian

Fixing issue with messaging/package.json (copy-paste fail)
  packages/messaging/package.json
Owners: @gauntface

@firebase/polyfill - README.md housekeeping
  packages/polyfill/README.md
  packages/polyfill/package.json
Owners: @jshcrowthe

@firebase/storage - README.md housekeeping
  packages/storage/README.md
  packages/storage/package.json
Owners: @sphippen

@firebase/util - README.md housekeeping
  packages/util/README.md
  packages/util/package.json
Owners: @jshcrowthe

Fixing package.json repo links
  packages/storage/package.json
  packages/util/package.json
  packages/webchannel-wrapper/package.json
Owners: @sphippen, @jshcrowthe

Refactor from PromiseLike -> Promise
  packages/storage/src/task.ts
Owners: @sphippen

Add firebase externs
  packages/firebase/.gitignore
  packages/firebase/externs/firebase-app-externs.js
  packages/firebase/externs/firebase-app-internal-externs.js
  packages/firebase/externs/firebase-auth-externs.js
  packages/firebase/externs/firebase-client-auth-externs.js
  packages/firebase/externs/firebase-database-externs.js
  packages/firebase/externs/firebase-database-internal-externs.js
  packages/firebase/externs/firebase-error-externs.js
  packages/firebase/externs/firebase-externs.js
  packages/firebase/externs/firebase-messaging-externs.js
  packages/firebase/externs/firebase-storage-externs.js
Owners: @jshcrowthe

[AUTOMATED]: Prettier Code Styling
  packages/firebase/externs/firebase-app-internal-externs.js
  packages/firebase/externs/firebase-auth-externs.js
  packages/firebase/externs/firebase-client-auth-externs.js
  packages/firebase/externs/firebase-database-externs.js
  packages/firebase/externs/firebase-database-internal-externs.js
  packages/firebase/externs/firebase-error-externs.js
  packages/firebase/externs/firebase-externs.js
  packages/firebase/externs/firebase-messaging-externs.js
  packages/firebase/externs/firebase-storage-externs.js
Owners: @jshcrowthe

Fix license values in package.json
  packages/database/package.json
  packages/messaging/package.json
  packages/storage/package.json
  packages/util/package.json
Owners: @mikelehen, @schmidt-sebastian, @gauntface, @sphippen, @jshcrowthe

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @jshcrowthe

# Database Code
packages/database  @mikelehen @schmidt-sebastian

# Firestore Code
packages/firestore  @mikelehen @schmidt-sebastian @wilhuff

# Storage Code
packages/storage  @sphippen

# Messaging Code
packages/messaging  @gauntface

# Auth Code
packages/auth  @bojeil-google @wti806
