Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @schmidt-sebastian, @jsdt, @firebase/firestore-js-team, @zwu52, @bojeil-google, @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi, @davideast, @jamesdaniels, @andirayo, @ChaoqunCHEN, @alikn, @zijianjoy, @erikeldridge, @firebase/firebase-techwriters, @firebase/jssdk-changeset-approvers

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# ===========================================================
#  @firebase/jssdk-global-approvers
# ===========================================================
#  Used for approving minor changes, large-scale refactorings, and emergency situations.
#  (secret team to avoid review requests)
#
#   - @Feiyang1
#   - @hiranya911
#   - @bojeil-google
#   - @depoll
#   - @hsubox76


# ===========================================================
#  @firebase/firestore-js-team
# ===========================================================
#  Used for approving firestore changes.
#  (secret team to avoid review requests)
#
# - @schmidt-sebastian
# - @wilhuff
# - @var-const
# - @zxu123


# These owners will be the default owners for everything in the repo.
*       @Feiyang1 @hiranya911 @hsubox76 @firebase/jssdk-global-approvers

# Database Code
packages/database @schmidt-sebastian @jsdt @firebase/jssdk-global-approvers
packages/database-types @schmidt-sebastian @jsdt @firebase/jssdk-global-approvers

# Firestore Code
packages/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/webchannel-wrapper  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-types  @firebase/firestore-js-team @firebase/jssdk-global-approvers
integration/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers

# Storage Code
packages/storage  @schmidt-sebastian @firebase/jssdk-global-approvers
packages/storage-types  @schmidt-sebastian @firebase/jssdk-global-approvers

# Messaging Code
packages/messaging  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-types @zwu52 @firebase/jssdk-global-approvers
integration/messaging @zwu52 @firebase/jssdk-global-approvers

# Auth Code
packages/auth  @bojeil-google @avolkovi @samhorlbeck @scottcrossen @firebase/jssdk-global-approvers
packages/auth-types  @bojeil-google @avolkovi @samhorlbeck @scottcrossen @firebase/jssdk-global-approvers

# Testing Code
packages/testing  @avolkovi @samhorlbeck @scottcrossen @yuchenshi @firebase/jssdk-global-approvers
packages/rules-unit-testing  @avolkovi @samhorlbeck @scottcrossen @yuchenshi @firebase/jssdk-global-approvers

# RxFire Code
packages/rxfire @davideast @jamesdaniels @firebase/jssdk-global-approvers

# Installations
packages/installations @andirayo @ChaoqunCHEN @firebase/jssdk-global-approvers
packages/installations-types @andirayo @ChaoqunCHEN @firebase/jssdk-global-approvers

# Performance Code
packages/performance  @alikn @zijianjoy @firebase/jssdk-global-approvers
packages/performance-types  @alikn @zijianjoy @firebase/jssdk-global-approvers

# Analytics Code
packages/analytics @hsubox76 @Feiyang1 @firebase/jssdk-global-approvers
packages/analytics-types @hsubox76 @Feiyang1 @firebase/jssdk-global-approvers

# Remote Config Code
packages/remote-config @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-types @erikeldridge @firebase/jssdk-global-approvers

# Documentation Changes
packages/firebase/index.d.ts @firebase/firebase-techwriters @firebase/jssdk-global-approvers
scripts/docgen/content-sources/ @firebase/firebase-techwriters @firebase/jssdk-global-approvers

# Changeset
.changeset @firebase/firebase-techwriters @firebase/jssdk-changeset-approvers @firebase/firestore-js-team @firebase/jssdk-global-approvers

run the correct script
  .github/workflows/test-changed-firestore-integration.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

refactor test changed
  .github/workflows/test-changed-auth.yml
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
  .github/workflows/test-changed-misc.yml
  .github/workflows/test-changed.yml
  .github/workflows/test-firebase-integration.yml
  package.json
  scripts/ci-test/build_changed.ts
  scripts/ci-test/run_changed_auth.ts
  scripts/ci-test/run_changed_auxiliary_libs.ts
  scripts/ci-test/run_changed_core.ts
  scripts/ci-test/run_changed_fcm_integration.ts
  scripts/ci-test/run_changed_firestore.ts
  scripts/ci-test/run_changed_firestore_integration.ts
  scripts/ci-test/tasks.ts
  scripts/ci-test/testConfig.ts
  scripts/ci-test/test_changed.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

update words
  scripts/ci-test/tasks.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

remove unnecessary xvfb-run
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
  .github/workflows/test-changed-misc.yml
  .github/workflows/test-firebase-integration.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Add the internal auth interface including proactive refresh (#3655)
  packages-exp/auth-exp/src/core/auth/auth_impl.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.test.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.ts
  packages-exp/auth-exp/src/core/auth/register.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.test.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.ts
  packages-exp/auth-exp/src/core/user/token_manager.ts
  packages-exp/auth-exp/src/core/user/user_impl.ts
  packages-exp/auth-exp/src/model/auth.d.ts
  packages-exp/auth-exp/src/model/user.d.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

add firebase to auth's dependency because auth test depends on it
  packages/auth/package.json
Owners: @bojeil-google, @avolkovi, @samhorlbeck, @scottcrossen, @firebase/jssdk-global-approvers

build correctly
  .github/workflows/test-changed-auth.yml
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
  .github/workflows/test-changed-misc.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

abort if build failed
  scripts/ci-test/build_changed.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

build appExp
  .github/workflows/test-firebase-integration.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

build all for auth
  .github/workflows/test-changed-auth.yml
  packages/auth/package.json
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @bojeil-google, @avolkovi, @samhorlbeck, @scottcrossen

Optimize CI tests (#3664)
  .github/workflows/test-changed-auth.yml
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
  .github/workflows/test-changed-misc.yml
  .github/workflows/test-firebase-integration.yml
  integration/browserify/karma.conf.js
  integration/browserify/package.json
  integration/browserify/src/namespace.test.js
  integration/firebase-typings/index.ts
  integration/firebase-typings/package.json
  integration/firebase-typings/tsconfig.json
  integration/firebase/karma.conf.js
  integration/firebase/package.json
  integration/firebase/test/namespace.test.ts
  integration/firebase/test/namespaceDefinition.json
  integration/firebase/test/typings.d.ts
  integration/firebase/test/validator.js
  integration/firebase/tsconfig.json
  integration/firestore/firebase_export.ts
  integration/firestore/firebase_export_memory.ts
  integration/firestore/package.json
  integration/messaging/package.json
  integration/typescript/package.json
  integration/typescript/test/namespace.test.ts
  integration/webpack/karma.conf.js
  integration/webpack/src/namespace.test.js
  integration/webpack/webpack.config.js
  package.json
  packages/firebase/index.d.ts
  packages/firestore/register-module.ts
  scripts/ci-test/build_changed.ts
  scripts/ci-test/tasks.ts
  scripts/ci-test/testConfig.ts
  scripts/ci-test/test_changed.ts
  scripts/run_changed.js
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team, @zwu52, @firebase/firebase-techwriters

Rename Blob to Bytes
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/index.ts
  packages/firestore/exp/src/api/snapshot.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/dependencies.json
  packages/firestore/lite/index.ts
  packages/firestore/lite/src/api/bytes.ts
  packages/firestore/lite/src/api/snapshot.ts
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/src/api/blob.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/util/helpers.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Tree-Shake all of Query
  packages/firestore/exp/dependencies.json
  packages/firestore/lite/dependencies.json
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/view.ts
  packages/firestore/src/local/index_free_query_engine.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Lint
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/src/api/blob.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/remote/serializer.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Move parent/doc/collection back
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/index.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/dependencies.json
  packages/firestore/lite/index.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/test/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Fix Shim
  packages/firestore/exp/test/shim.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Simplify
  packages/firestore/src/api/blob.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

test
  packages/app/index.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Fix typo
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

flow
  .github/workflows/test-changed-aut-test.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

remove
  .github/workflows/test-changed-aut-test.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Update dependency @types/clone to v2
  package.json
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Update dependency ora to v5
  package.json
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Update dependency ts-loader to v8
  integration/firestore/package.json
  package.json
  yarn.lock
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @Feiyang1, @hiranya911, @hsubox76

Create fuzzy-seas-compare.md
  .changeset/fuzzy-seas-compare.md
Owners: @firebase/firebase-techwriters, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Fix typo (#3680)
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Fix assertFails() logic of @firebase/rules-unit-testing (#3676)
  .changeset/fuzzy-seas-compare.md
  packages/rules-unit-testing/src/api/index.ts
  packages/rules-unit-testing/test/database.test.ts
Owners: @firebase/firebase-techwriters, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi

fix lint
  config/.eslintrc.js
  packages-exp/functions-exp/src/error.ts
  packages-exp/functions-exp/src/serializer.ts
  packages-exp/functions-exp/src/service.ts
  packages/analytics/src/helpers.ts
  packages/analytics/testing/get-fake-firebase-services.ts
  packages/database/.eslintrc.js
  packages/database/src/core/view/CompleteChildSource.ts
  packages/database/src/realtime/BrowserPollConnection.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/functions/src/api/error.ts
  packages/functions/src/api/service.ts
  packages/functions/src/serializer.ts
  packages/messaging/src/controllers/sw-controller.test.ts
  packages/messaging/src/controllers/sw-controller.ts
  packages/performance/src/services/api_service.ts
  packages/storage/src/implementation/async.ts
  packages/storage/src/implementation/backoff.ts
  packages/storage/src/implementation/request.ts
  packages/storage/src/implementation/type.ts
  packages/storage/test/unit/task.test.ts
  packages/storage/test/unit/testshared.ts
  packages/util/index.ts
  packages/util/src/subscribe.ts
  packages/util/src/validation.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @schmidt-sebastian, @jsdt, @firebase/firestore-js-team, @zwu52, @alikn, @zijianjoy

Fix tests
  packages/firestore/test/integration/api/validation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

fix more lint
  config/.eslintrc.js
  packages/database/src/core/util/util.ts
  packages/database/test/helpers/EventAccumulator.ts
  packages/firestore/test/util/equality_matcher.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @schmidt-sebastian, @jsdt, @firebase/firestore-js-team

remove reference to the removed file
  packages/util/index.node.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

revert file deletion
  packages/util/index.node.ts
  packages/util/index.ts
  packages/util/src/validation.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Update all non-major dependencies
  config/functions/package.json
  integration/firebase/package.json
  package.json
  packages-exp/app-exp/package.json
  packages-exp/firebase-exp/package.json
  packages-exp/functions-exp/package.json
  packages/analytics/package.json
  packages/app/package.json
  packages/auth/demo/functions/package.json
  packages/auth/demo/functions/yarn.lock
  packages/component/package.json
  packages/database/package.json
  packages/firebase/package.json
  packages/firestore/package.json
  packages/functions/package.json
  packages/installations/package.json
  packages/logger/package.json
  packages/messaging/package.json
  packages/performance/package.json
  packages/polyfill/package.json
  packages/remote-config/package.json
  packages/rules-unit-testing/package.json
  packages/rxfire/package.json
  packages/storage/package.json
  packages/template/package.json
  packages/testing/package.json
  packages/util/package.json
  packages/webchannel-wrapper/package.json
  repo-scripts/changelog-generator/package.json
  repo-scripts/size-analysis/package.json
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @bojeil-google, @avolkovi, @samhorlbeck, @scottcrossen, @schmidt-sebastian, @jsdt, @firebase/firestore-js-team, @andirayo, @ChaoqunCHEN, @zwu52, @alikn, @zijianjoy, @erikeldridge, @yuchenshi, @davideast, @jamesdaniels
