Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @mikelehen, @schmidt-sebastian, @jsdt, @firebase/firestore-js-team, @mmermerkaya, @dwoffinden, @bojeil-google, @wti806, @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi, @davideast, @jamesdaniels, @andirayo, @alikn, @zijianjoy, @erikeldridge

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# ===========================================================
#  @firebase/jssdk-global-approvers
# ===========================================================
#  Used for approving minor changes, large-scale refactorings, and emergency situations.
#  (secret team to avoid review requests)
#
#   - @Feiyang1
#   - @hiranya911
#   - @mikelehen
#   - @bojeil-google
#   - @depoll
#   - @hsubox76


# ===========================================================
#  @firebase/firestore-js-team
# ===========================================================
#  Used for approving firestore changes.
#  (secret team to avoid review requests)
#
# - @mikelehen
# - @schmidt-sebastian
# - @wilhuff
# - @gsoltis
# - @var-const
# - @rsgowman
# - @zxu123


# These owners will be the default owners for everything in the repo.
*       @Feiyang1 @hiranya911 @hsubox76 @firebase/jssdk-global-approvers

# Database Code
packages/database  @mikelehen @schmidt-sebastian @jsdt @firebase/jssdk-global-approvers
packages/database-types  @mikelehen @schmidt-sebastian @jsdt @firebase/jssdk-global-approvers

# Firestore Code
packages/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/webchannel-wrapper  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-types  @firebase/firestore-js-team @firebase/jssdk-global-approvers
integration/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers

# Storage Code
packages/storage  @schmidt-sebastian @firebase/jssdk-global-approvers
packages/storage-types  @schmidt-sebastian @firebase/jssdk-global-approvers

# Messaging Code
packages/messaging  @mmermerkaya @dwoffinden @firebase/jssdk-global-approvers
packages/messaging-types  @mmermerkaya @dwoffinden @firebase/jssdk-global-approvers
integration/messaging  @mmermerkaya @dwoffinden @firebase/jssdk-global-approvers

# Auth Code
packages/auth  @bojeil-google @wti806 @firebase/jssdk-global-approvers
packages/auth-types  @bojeil-google @wti806 @firebase/jssdk-global-approvers

# Testing Code
packages/testing  @avolkovi @samhorlbeck @scottcrossen @yuchenshi @firebase/jssdk-global-approvers

# RxFire Code
packages/rxfire @davideast @jamesdaniels @firebase/jssdk-global-approvers

# Installations
packages/installations @mmermerkaya @dwoffinden @andirayo @firebase/jssdk-global-approvers
packages/installations-types @mmermerkaya @dwoffinden @andirayo @firebase/jssdk-global-approvers

# Performance Code
packages/performance  @alikn @zijianjoy @firebase/jssdk-global-approvers
packages/performance-types  @alikn @zijianjoy @firebase/jssdk-global-approvers

# Analytics Code
packages/analytics @hsubox76 @Feiyang1 @firebase/jssdk-global-approvers
packages/analytics-types @hsubox76 @Feiyang1 @firebase/jssdk-global-approvers

# Remote Config Code
packages/remote-config @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-types @erikeldridge @firebase/jssdk-global-approvers

Add QueryDocumentSnapshot to the internal FirebaseNamespace (#2514)
  packages/firestore/index.node.ts
  packages/firestore/index.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Fix the inconsistency in creating PerformanceEntry object.
  packages/performance/src/services/perf_logger.test.ts
Owners: @alikn, @zijianjoy, @firebase/jssdk-global-approvers

Update dependency google-closure-compiler to v20200101
  packages/auth/package.json
  yarn.lock
Owners: @bojeil-google, @wti806, @firebase/jssdk-global-approvers, @Feiyang1, @hiranya911, @hsubox76

Update dependency google-closure-library to v20200101
  packages/auth/package.json
  yarn.lock
Owners: @bojeil-google, @wti806, @firebase/jssdk-global-approvers, @Feiyang1, @hiranya911, @hsubox76

Fix the inconsistency in creating PerformanceEntry object. Address Ali's comments.
  packages/performance/src/services/perf_logger.test.ts
Owners: @alikn, @zijianjoy, @firebase/jssdk-global-approvers

Fix Yarn
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Rewrite.
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

[AUTOMATED]: Prettier Code Styling
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Address comments.
  packages/performance/src/services/perf_logger.test.ts
Owners: @alikn, @zijianjoy, @firebase/jssdk-global-approvers

await for promises.
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

let -> const
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Add page load unit tests with the Proto format change. (#2516)
  packages/performance/src/resources/trace.test.ts
  packages/performance/src/services/perf_logger.test.ts
Owners: @alikn, @zijianjoy, @firebase/jssdk-global-approvers

Add page load unit tests with the Proto format change. (#2516)
  packages/performance/src/resources/trace.test.ts
  packages/performance/src/services/perf_logger.test.ts
Owners: @alikn, @zijianjoy, @firebase/jssdk-global-approvers

Performance Monitoring transport format upgrade from proto2 to proto3 (#2525)
  packages/performance/CHANGELOG.md
  packages/performance/src/resources/trace.test.ts
  packages/performance/src/services/perf_logger.test.ts
  packages/performance/src/services/perf_logger.ts
  packages/performance/src/services/transport_service.ts
Owners: @alikn, @zijianjoy, @firebase/jssdk-global-approvers
