Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @maneesht, @jsdt, @IanWyszynski, @firebase/firestore-js-team, @tonyjhuang, @zwu52, @avolkovi, @lisajian, @sam-gc, @yuchenshi, @yoyomyo, @jposuna, @erikeldridge, @egilmorez, @firebase/jssdk-changeset-approvers

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# ===========================================================
#  @firebase/jssdk-global-approvers
# ===========================================================
#  Used for approving minor changes, large-scale refactorings, and emergency situations.
#  (secret team to avoid review requests)
#
#   - @lahirumaramba
#   - @hsubox76
#   - @allspain
#   - @dwyfrequency


# ===========================================================
#  @firebase/firestore-js-team
# ===========================================================
#  Used for approving firestore changes.
#  (secret team to avoid review requests)
#
# - @schmidt-sebastian
# - @thebrianchen
# - @wu-hui
# - @ehsannas
# - @dconeybe


# These owners will be the default owners for everything in the repo.
*       @dwyfrequency @hsubox76 @firebase/jssdk-global-approvers

# Database Code
packages/database @maneesht @jsdt @IanWyszynski @firebase/jssdk-global-approvers
packages/database-compat @maneesht @jsdt @IanWyszynski @firebase/jssdk-global-approvers
packages/database-types @maneesht @jsdt @IanWyszynski @firebase/jssdk-global-approvers

# Firestore Code
packages/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-compat  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/webchannel-wrapper  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-types  @firebase/firestore-js-team @firebase/jssdk-global-approvers
integration/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers

# Storage Code
packages/storage @maneesht @tonyjhuang @firebase/jssdk-global-approvers
packages/storage-compat @maneesht @tonyjhuang @firebase/jssdk-global-approvers
packages/storage-types @maneesht @tonyjhuang @firebase/jssdk-global-approvers

# Messaging Code
packages/messaging  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-compat  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-types @zwu52 @firebase/jssdk-global-approvers
packages/messaging-interop-types @zwu52 @firebase/jssdk-global-approvers
integration/messaging @zwu52 @firebase/jssdk-global-approvers

# Auth Code
packages/auth  @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers
packages/auth-compat @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers
packages/auth-types @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers
packages/auth-interop-types @avolkovi @lisajian @sam-gc @yuchenshi @firebase/jssdk-global-approvers

# Testing Code
packages/rules-unit-testing  @avolkovi @sam-gc @yuchenshi @firebase/jssdk-global-approvers

# Installations
packages/installations @avolkovi @yoyomyo @firebase/jssdk-global-approvers
packages/installations-compat @avolkovi @yoyomyo @firebase/jssdk-global-approvers
packages/installations-types @avolkovi @yoyomyo @firebase/jssdk-global-approvers

# Performance Code
packages/performance @jposuna @firebase/jssdk-global-approvers
packages/performance-compat @jposuna @firebase/jssdk-global-approvers
packages/performance-types @jposuna @firebase/jssdk-global-approvers

# Analytics Code
packages/analytics @hsubox76 @firebase/jssdk-global-approvers
packages/analytics-compat @hsubox76 @firebase/jssdk-global-approvers
packages/analytics-types @hsubox76 @firebase/jssdk-global-approvers

# Remote Config Code
packages/remote-config @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-compat  @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-types @erikeldridge @firebase/jssdk-global-approvers

# App Check Code
packages/app-check @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-compat @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-types @hsubox76 @firebase/jssdk-global-approvers
packages/app-check-interop-types @hsubox76 @firebase/jssdk-global-approvers

# Documentation Changes
packages/firebase/index.d.ts @egilmorez @firebase/jssdk-global-approvers
scripts/docgen/content-sources/ @egilmorez @firebase/jssdk-global-approvers

# Changeset
.changeset @egilmorez @firebase/jssdk-changeset-approvers @firebase/firestore-js-team @firebase/jssdk-global-approvers

Add changeset
  .changeset/happy-forks-greet.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Delete happy-forks-greet.md
  .changeset/happy-forks-greet.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update eleven-moons-shave.md
  .changeset/eleven-moons-shave.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

resolve comments
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

resolve comments
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

check client offline state and test (#6579)
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/aggregation.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Switch over to any instead
  common/api-review/auth.api.md
  packages/auth/src/model/public_types.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @avolkovi, @lisajian, @sam-gc, @yuchenshi

Update firestore emulator used by tests to v1.14.4
  scripts/emulator-testing/emulators/firestore-emulator.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers

Update changelog
  .changeset/spotty-pillows-applaud.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

resolve comments
  packages/firestore/test/integration/util/helpers.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update type of ParsedToken to include unknown (#6569)
  .changeset/spotty-pillows-applaud.md
  common/api-review/auth.api.md
  packages/auth/src/model/public_types.ts
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @dwyfrequency, @hsubox76, @avolkovi, @lisajian, @sam-gc, @yuchenshi

upload initial code change
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Fix index backfilling frequency. (#6585)
  packages/firestore/src/local/index_backfiller.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Enable encodeInitMessageHeaders (#6107)
  .changeset/eleven-moons-shave.md
  packages/firestore/src/platform/browser/webchannel_connection.ts
  packages/webchannel-wrapper/externs/overrides.js
  packages/webchannel-wrapper/package.json
  packages/webchannel-wrapper/src/index.d.ts
  scripts/emulator-testing/emulators/firestore-emulator.ts
  yarn.lock
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @dwyfrequency, @hsubox76

remove with testBD
  packages/firestore/test/integration/util/helpers.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Create cool-seas-confess.md
  .changeset/cool-seas-confess.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

restructure getCountFromServer
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

fix formatting
  packages/database/src/api/Reference_impl.ts
Owners: @maneesht, @jsdt, @IanWyszynski, @firebase/jssdk-global-approvers

Mila/count non lite api tests (#6581)
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

export getCountFromServer, add comments
  packages/firebase/compat/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/src/api.ts
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/lite-api/reference.ts
  packages/firestore/src/remote/connection.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
  repo-scripts/prune-dts/tests/firestore.output.d.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

reformat code
  packages/firestore/src/remote/datastore.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

sort imports based on lint request
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

resolve comments
  packages/firebase/compat/index.d.ts
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/lite-api/reference.ts
  packages/firestore/test/lite/integration.test.ts
  repo-scripts/prune-dts/tests/firestore.output.d.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

fix lint complain
  packages/firestore/src/lite-api/aggregate.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Include a reference to AuthInternal in MultiFactorSessionImpl.
  packages/auth/src/mfa/mfa_session.ts
  packages/auth/src/mfa/mfa_user.test.ts
  packages/auth/src/mfa/mfa_user.ts
  packages/auth/src/platform_browser/mfa/assertions/phone.test.ts
Owners: @avolkovi, @lisajian, @sam-gc, @yuchenshi, @firebase/jssdk-global-approvers

fix MockConnection error
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/unit/remote/datastore.test.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Added changeset.
  .changeset/curly-mirrors-occur.md
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Include a reference to AuthInternal in MultiFactorSessionImpl. (#6594)
  .changeset/curly-mirrors-occur.md
  packages/auth/src/mfa/mfa_session.ts
  packages/auth/src/mfa/mfa_user.test.ts
  packages/auth/src/mfa/mfa_user.ts
  packages/auth/src/platform_browser/mfa/assertions/phone.test.ts
Owners: @egilmorez, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @avolkovi, @lisajian, @sam-gc, @yuchenshi

add invalid collection test
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update integration.test.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

resolve comments
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

rename aggregateQuerySnapshotEqual
  packages/firestore/lite/index.ts
  packages/firestore/src/api.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/lite/integration.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Mila/count update api surface (#6589)
  packages/firebase/compat/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/lite/index.ts
  packages/firestore/src/api.ts
  packages/firestore/src/api/aggregate.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/lite-api/aggregate.ts
  packages/firestore/src/lite-api/reference.ts
  packages/firestore/src/remote/connection.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/integration/api/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
  packages/firestore/test/unit/remote/datastore.test.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  repo-scripts/prune-dts/tests/firestore.output.d.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

add DocumentFieldValue
  packages/firebase/compat/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/src/lite-api/reference.ts
  repo-scripts/prune-dts/tests/firestore.input.d.ts
  repo-scripts/prune-dts/tests/firestore.output.d.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team

adding support TOTP MFA (#6547)
  common/api-review/auth.api.md
  packages/auth/src/mfa/assertions/totp.ts
  packages/auth/src/model/enum_maps.ts
  packages/auth/src/model/public_types.ts
  packages/auth/src/platform_browser/mfa/assertions/totp.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @avolkovi, @lisajian, @sam-gc, @yuchenshi

Implement TOTP MFA enrollment.
  common/api-review/auth.api.md
  packages/auth/src/api/account_management/mfa.test.ts
  packages/auth/src/api/account_management/mfa.ts
  packages/auth/src/mfa/assertions/totp.test.ts
  packages/auth/src/mfa/assertions/totp.ts
  packages/auth/src/mfa/mfa_info.test.ts
  packages/auth/src/mfa/mfa_info.ts
  packages/auth/src/model/public_types.ts
  packages/auth/src/platform_browser/mfa/assertions/totp.test.ts
  packages/auth/src/platform_browser/mfa/assertions/totp.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @avolkovi, @lisajian, @sam-gc, @yuchenshi

export DocumentFieldValue
  packages/firestore/lite/index.ts
  packages/firestore/src/api.ts
  packages/firestore/src/api/reference.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

automatic update on api-review
  common/api-review/firestore-lite.api.md
  common/api-review/firestore.api.md
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers

remove a blank line to pass format check
  packages/firebase/compat/index.d.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers

remove DocumentFieldValue
  packages/firebase/compat/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/lite/index.ts
  packages/firestore/src/lite-api/reference.ts
  packages/firestore/test/lite/integration.test.ts
  repo-scripts/prune-dts/tests/firestore.output.d.ts
Owners: @dwyfrequency, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team
