Repository firebase/firebase-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @schmidt-sebastian, @jsdt, @firebase/firestore-js-team, @zwu52, @bojeil-google, @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi, @davideast, @jamesdaniels, @andirayo, @ChaoqunCHEN, @alikn, @zijianjoy, @erikeldridge, @firebase/firebase-techwriters, @firebase/jssdk-changeset-approvers

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# ===========================================================
#  @firebase/jssdk-global-approvers
# ===========================================================
#  Used for approving minor changes, large-scale refactorings, and emergency situations.
#  (secret team to avoid review requests)
#
#   - @Feiyang1
#   - @hiranya911
#   - @bojeil-google
#   - @depoll
#   - @hsubox76


# ===========================================================
#  @firebase/firestore-js-team
# ===========================================================
#  Used for approving firestore changes.
#  (secret team to avoid review requests)
#
# - @schmidt-sebastian
# - @wilhuff
# - @var-const
# - @zxu123


# These owners will be the default owners for everything in the repo.
*       @Feiyang1 @hiranya911 @hsubox76 @firebase/jssdk-global-approvers

# Database Code
packages/database @schmidt-sebastian @jsdt @firebase/jssdk-global-approvers
packages/database-types @schmidt-sebastian @jsdt @firebase/jssdk-global-approvers

# Firestore Code
packages/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/webchannel-wrapper  @firebase/firestore-js-team @firebase/jssdk-global-approvers
packages/firestore-types  @firebase/firestore-js-team @firebase/jssdk-global-approvers
integration/firestore  @firebase/firestore-js-team @firebase/jssdk-global-approvers

# Storage Code
packages/storage  @schmidt-sebastian @firebase/jssdk-global-approvers
packages/storage-types  @schmidt-sebastian @firebase/jssdk-global-approvers

# Messaging Code
packages/messaging  @zwu52 @firebase/jssdk-global-approvers
packages/messaging-types @zwu52 @firebase/jssdk-global-approvers
integration/messaging @zwu52 @firebase/jssdk-global-approvers

# Auth Code
packages/auth  @bojeil-google @avolkovi @samhorlbeck @scottcrossen @firebase/jssdk-global-approvers
packages/auth-types  @bojeil-google @avolkovi @samhorlbeck @scottcrossen @firebase/jssdk-global-approvers

# Testing Code
packages/testing  @avolkovi @samhorlbeck @scottcrossen @yuchenshi @firebase/jssdk-global-approvers
packages/rules-unit-testing  @avolkovi @samhorlbeck @scottcrossen @yuchenshi @firebase/jssdk-global-approvers

# RxFire Code
packages/rxfire @davideast @jamesdaniels @firebase/jssdk-global-approvers

# Installations
packages/installations @andirayo @ChaoqunCHEN @firebase/jssdk-global-approvers
packages/installations-types @andirayo @ChaoqunCHEN @firebase/jssdk-global-approvers

# Performance Code
packages/performance  @alikn @zijianjoy @firebase/jssdk-global-approvers
packages/performance-types  @alikn @zijianjoy @firebase/jssdk-global-approvers

# Analytics Code
packages/analytics @hsubox76 @Feiyang1 @firebase/jssdk-global-approvers
packages/analytics-types @hsubox76 @Feiyang1 @firebase/jssdk-global-approvers

# Remote Config Code
packages/remote-config @erikeldridge @firebase/jssdk-global-approvers
packages/remote-config-types @erikeldridge @firebase/jssdk-global-approvers

# Documentation Changes
packages/firebase/index.d.ts @firebase/firebase-techwriters @firebase/jssdk-global-approvers
scripts/docgen/content-sources/ @firebase/firebase-techwriters @firebase/jssdk-global-approvers

# Changeset
.changeset @firebase/firebase-techwriters @firebase/jssdk-changeset-approvers @firebase/firestore-js-team @firebase/jssdk-global-approvers

Version Packages (#3656)
  .changeset/cold-bats-hammer.md
  .changeset/little-cycles-fold.md
  .changeset/neat-gorillas-behave.md
  .changeset/silver-trainers-rhyme.md
  integration/browserify/package.json
  integration/firebase-typings/package.json
  integration/firestore/package.json
  integration/messaging/package.json
  integration/typescript/package.json
  integration/webpack/package.json
  packages-exp/firebase-exp/package.json
  packages/firebase/CHANGELOG.md
  packages/firebase/package.json
  packages/firestore/CHANGELOG.md
  packages/firestore/package.json
  packages/performance/CHANGELOG.md
  packages/performance/package.json
  packages/rules-unit-testing/CHANGELOG.md
  packages/rules-unit-testing/package.json
  packages/testing/package.json
Owners: @firebase/firebase-techwriters, @firebase/jssdk-changeset-approvers, @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @Feiyang1, @hiranya911, @hsubox76, @zwu52, @alikn, @zijianjoy, @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi

added visualization page
  size-analysis-web-app/src/App.css
  size-analysis-web-app/src/components/Alert.jsx
  size-analysis-web-app/src/components/Visualization.jsx
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Remove no-op interface imports
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/write_batch.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Comment out test
  packages/testing/package.json
Owners: @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi, @firebase/jssdk-global-approvers

revert yarn.lock
  scripts/ci-test/build.ts
  scripts/ci-test/run_changed.ts
  scripts/ci-test/run_changed_firestore.ts
  scripts/ci-test/run_changed_no_firestore.ts
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

test app
  packages/app/src/firebaseApp.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

test ci without @firebase/testing
  repo-scripts/size-analysis/package.json
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

make a separate workflow for firebase namespace test
  .github/workflows/test-firebase-integration.yml
  scripts/ci-test/run_changed_no_firestore.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

early return if no test tasks
  scripts/ci-test/build.ts
  scripts/ci-test/run_changed.ts
  scripts/ci-test/run_changed_fcm_integration.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

test fcm
  packages/messaging/src/index.ts
Owners: @zwu52, @firebase/jssdk-global-approvers

Revert "test fcm"
  packages/messaging/src/index.ts
Owners: @zwu52, @firebase/jssdk-global-approvers

Revert "test app"
  packages/app/src/firebaseApp.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

put auxiliary libs into a separate workflow
  .github/workflows/test-changed-auxiliary-libs.yml
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore.yml
  package.json
  scripts/ci-test/run_changed_auxiliary_libs.ts
  scripts/ci-test/run_changed_core.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

test firebase
  packages/firebase/index.d.ts
Owners: @firebase/firebase-techwriters, @firebase/jssdk-global-approvers

small change
  scripts/ci-test/build.ts
  scripts/ci-test/run_changed_fcm_integration.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

update yarn.lock
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

fix obvious errors
  integration/firestore/firebase_export.ts
  packages/firebase/index.d.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @firebase/firebase-techwriters

fix script issues
  .github/workflows/test-firebase-integration.yml
  integration/messaging/package.json
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @zwu52

run auth tests in a separate workflow
  .github/workflows/test-changed-auth.yml
  package.json
  scripts/ci-test/run_changed_auth.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

rename test name to make more sense on Github
  .github/workflows/test-changed-auth.yml
  .github/workflows/test-changed-auxiliary-libs.yml
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore.yml
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

try separating firestore and firestore integration into different workflows
  .github/workflows/test-changed-firestore-integration.yml
  package.json
  scripts/ci-test/run_changed_firestore_integration.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Build only packages needed for testing (#3668)
  .github/workflows/test-changed-auth.yml
  .github/workflows/test-changed-auxiliary-libs.yml
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
  .github/workflows/test-firebase-integration.yml
  integration/firestore/firebase_export.ts
  integration/firestore/firebase_export_memory.ts
  integration/firestore/package.json
  integration/messaging/package.json
  package.json
  packages/firebase/index.d.ts
  packages/firestore/register-module.ts
  scripts/ci-test/build.ts
  scripts/ci-test/run_changed.ts
  scripts/ci-test/run_changed_auth.ts
  scripts/ci-test/run_changed_auxiliary_libs.ts
  scripts/ci-test/run_changed_core.ts
  scripts/ci-test/run_changed_firestore.ts
  scripts/ci-test/run_changed_firestore_integration.ts
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers, @firebase/firestore-js-team, @zwu52, @firebase/firebase-techwriters

loadBundle is not found at runtime.
  packages/firebase/index.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/ie11/bundle.js
  packages/ie11/bundle.js.map
  packages/ie11/index.html
  packages/ie11/index.ts
  packages/ie11/package.json
  packages/ie11/rollup.config.js
  packages/ie11/tsconfig.json
Owners: @firebase/firebase-techwriters, @firebase/jssdk-global-approvers, @firebase/firestore-js-team, @Feiyang1, @hiranya911, @hsubox76

size analysis project - phase 2 (#3610)
  .github/workflows/health-metrics-test.yml
  package.json
  repo-scripts/size-analysis/README.md
  repo-scripts/size-analysis/analysis-helper.ts
  repo-scripts/size-analysis/analysis.ts
  repo-scripts/size-analysis/package.json
  repo-scripts/size-analysis/test/size-analysis.test.ts
  repo-scripts/size-analysis/test/test-inputs/assortedImports.ts
  repo-scripts/size-analysis/test/test-inputs/far.ts
  repo-scripts/size-analysis/test/test-inputs/index.ts
  scripts/size_report/report_binary_size.ts
  scripts/size_report/report_modular_export_binary_size.ts
  scripts/size_report/size_report_helper.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Fix changeset checker regex
  scripts/check_changeset.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Bundles working with minifier hack in bundle.ts
  packages/firestore/externs.json
  packages/firestore/src/core/bundle.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/test/integration/api_internal/bundle.test.ts
  packages/firestore/test/integration/util/settings.ts
  packages/firestore/test/unit/util/bundle.test.ts
  packages/ie11/bundle.js
  packages/ie11/bundle.js.map
  packages/ie11/index.html
  packages/ie11/index.ts
  packages/ie11/package.json
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers, @Feiyang1, @hiranya911, @hsubox76

Fix changeset checker regex (#3670)
  scripts/check_changeset.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Review
  packages/firestore/exp/src/api/components.ts
  packages/firestore/src/core/event_manager.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Update tests
  packages/firestore/test/unit/core/event_manager.test.ts
Owners: @firebase/firestore-js-team, @firebase/jssdk-global-approvers

Fix assertFails logic
  packages/rules-unit-testing/package.json
  packages/rules-unit-testing/src/api/index.ts
  packages/rules-unit-testing/test/database.test.ts
Owners: @avolkovi, @samhorlbeck, @scottcrossen, @yuchenshi, @firebase/jssdk-global-approvers

Remove duplicate dependency.
  package.json
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Remove duplicate dependency. (#3673)
  package.json
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Register auth with the app component. Add the getAuth() methods for each platform (#3637)
  packages-exp/auth-compat-exp/index.ts
  packages-exp/auth-compat-exp/src/auth.ts
  packages-exp/auth-exp/demo/src/index.js
  packages-exp/auth-exp/demo/src/worker/service-worker.ts
  packages-exp/auth-exp/demo/src/worker/web-worker.ts
  packages-exp/auth-exp/index.node.ts
  packages-exp/auth-exp/index.rn.ts
  packages-exp/auth-exp/index.ts
  packages-exp/auth-exp/index.webworker.ts
  packages-exp/auth-exp/package.json
  packages-exp/auth-exp/src/core/auth/auth_impl.test.ts
  packages-exp/auth-exp/src/core/auth/auth_impl.ts
  packages-exp/auth-exp/src/core/auth/initialize.ts
  packages-exp/auth-exp/src/core/auth/register.ts
  packages-exp/auth-exp/src/core/index.ts
  packages-exp/auth-exp/src/core/user/reload.ts
  packages-exp/auth-exp/src/platform_browser/auth.test.ts
  packages-exp/auth-exp/test/helpers/integration/helpers.ts
  packages-exp/auth-exp/test/helpers/mock_auth.ts
  packages-exp/auth-types-exp/index.d.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Fix tests for node
  packages-exp/auth-exp/src/core/auth/firebase_internal.test.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.test.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.ts
  packages-exp/auth-exp/test/helpers/timeout_stub.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Formatting
  packages-exp/auth-exp/src/core/auth/register.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

PR feedback
  packages-exp/auth-exp/src/core/auth/register.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Formatting
  packages-exp/auth-exp/src/core/auth/auth_impl.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.test.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.ts
  packages-exp/auth-exp/src/core/auth/register.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.test.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.ts
  packages-exp/auth-exp/src/core/user/user_impl.ts
  packages-exp/auth-exp/src/core/util/pending_promise.ts
  packages-exp/auth-exp/test/helpers/timeout_stub.ts
  packages-exp/auth-types-exp/index.d.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Remove unused file
  packages-exp/auth-exp/src/core/util/pending_promise.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers

Proactive refresh and internal SDK
  packages-exp/auth-exp/src/core/auth/auth_impl.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.test.ts
  packages-exp/auth-exp/src/core/auth/firebase_internal.ts
  packages-exp/auth-exp/src/core/auth/register.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.test.ts
  packages-exp/auth-exp/src/core/user/proactive_refresh.ts
  packages-exp/auth-exp/src/core/user/token_manager.ts
  packages-exp/auth-exp/src/core/user/user_impl.ts
  packages-exp/auth-exp/src/core/util/pending_promise.ts
  packages-exp/auth-exp/src/model/auth.d.ts
  packages-exp/auth-exp/src/model/user.d.ts
  packages-exp/auth-exp/test/helpers/timeout_stub.ts
  packages-exp/auth-types-exp/index.d.ts
Owners: @Feiyang1, @hiranya911, @hsubox76, @firebase/jssdk-global-approvers
