Repository firebase/firebase-js-sdk, pull requests merged in 2019-04, with the labels that each got.

#1677 Validate operator enum in Query.where() calls
  packages/firestore/src/api/database.ts
  packages/firestore/src/util/input_validation.ts
  packages/firestore/test/integration/api/validation.test.ts
Labels: api: firestore

#1662 Add "experimentalForceLongPolling" option.
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/CHANGELOG.md
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/database_info.ts
  packages/firestore/src/platform_browser/webchannel_connection.ts
  packages/firestore/test/integration/browser/webchannel.test.ts
  packages/firestore/test/integration/util/internal_helpers.ts
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/webchannel-wrapper/externs/overrides.js
Labels: api: firestore

#1681 Update documentation to use yarn build
  README.md
  packages/firestore/CONTRIBUTING.md
Labels: api: firestore

#1691 Fix firestore.Timestamp case.
  scripts/docgen/content-sources/js/toc.yaml
  scripts/docgen/content-sources/node/toc.yaml
Labels: api: firestore

#1693 Use `--concurrency 4` instead of `--parallel` for tests.
  package.json
Labels: api: core

#1703 Exclude iOS Safari < 10.0 and Android < 4.4 when checking isAvailable() to enable persistence
  packages/firestore/src/local/simple_db.ts
  packages/firestore/test/unit/local/simple_db.test.ts
Labels: api: firestore

#1712 Add clearPersistence(), separate functionality out from shutdown()
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/persistence.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/local/index_manager.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/mutation_queue.test.ts
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/unit/local/query_cache.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/remote_document_change_buffer.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#1715 Adding documentation for WriteBatch size limit
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
Labels: api: firestore

#1204 Fix the type annotations in the RTDB Query.on/off/once API.
  packages/database-types/index.d.ts
  packages/database/CHANGELOG.md
  packages/database/src/api/Query.ts
  packages/database/src/core/view/Change.ts
  packages/firebase/index.d.ts
Labels: Status: Blocked

#1730 Fix stack traces for custom equality mismatches.
  packages/firestore/test/util/equality_matcher.ts
Labels: api: firestore
