Repository firebase/firebase-js-sdk, pull requests merged in 2019-08, with the labels that each got.

#2050 Add spec test for limit query initialization
  packages/firestore/test/unit/specs/limit_spec.test.ts
Labels: api: firestore

#2055 Make spec tests easier to debug
  packages/firestore/test/unit/specs/describe_spec.ts
Labels: api: firestore

#2045 port public shutdown to web sdk.
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/util/async_queue.test.ts
Labels: api: firestore

#2065 Fix flaky integration test
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
Labels: api: firestore

#2067 Remove unnecessary tsconfig.json flags.
  packages/firestore/tsconfig.json
Labels: api: firestore, type: cleanup

#2068 Enable noImplicitThis.
  packages/firestore/test/util/equality_matcher.ts
  packages/firestore/tsconfig.json
Labels: api: firestore, type: cleanup

#2051 Make initial view test actually use index-free queries
  packages/firestore/test/unit/specs/limit_spec.test.ts
Labels: api: firestore

#2074 Enable strictBindCallApply.
  packages/firestore/src/local/persistence_promise.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/test/integration/browser/webchannel.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/util/equality_matcher.ts
  packages/firestore/tsconfig.json
Labels: api: firestore, type: cleanup

#2066 Enable strictNullChecks for scripts/emulator-testing/
  scripts/emulator-testing/emulators/database-emulator.ts
  scripts/emulator-testing/emulators/emulator.ts
  scripts/emulator-testing/emulators/firestore-emulator.ts
  scripts/emulator-testing/tsconfig.json
Labels: type: cleanup

#2078 Enable strictPropertyInitialization for Firestore
  packages/firestore/src/api/credentials.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/event_manager.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/target_id_generator.ts
  packages/firestore/src/core/transaction.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/lru_garbage_collector.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/persistence.ts
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/model/path.ts
  packages/firestore/src/remote/backoff.ts
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/stream_bridge.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/src/util/promise.ts
  packages/firestore/src/util/sorted_map.ts
  packages/firestore/test/integration/api/transactions.test.ts
  packages/firestore/test/integration/util/events_accumulator.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/promise.ts
  packages/firestore/test/util/test_platform.ts
  packages/firestore/tsconfig.json
Labels: api: firestore, type: cleanup

#2080 Properly format file
  packages/firestore/test/util/equality_matcher.ts
Labels: api: firestore

#2063 Retrying transactions with backoff
  packages/firestore/CHANGELOG.md
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/transaction_runner.ts
  packages/firestore/src/remote/backoff.ts
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/test/integration/api/transactions.test.ts
Labels: api: firestore

#2081 Port waitForPendingWrites from android
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_mutation_queue.ts
  packages/firestore/src/local/mutation_queue.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/local/local_store.test.ts
Labels: api: firestore

#2084 Set delay to 0 for skipping TimerId delays
  packages/firestore/src/util/async_queue.ts
Labels: api: firestore

#2079 Don't persist manufactured documents
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/remote_document_change_buffer.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/remote_document_change_buffer.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
  packages/firestore/test/unit/local/test_remote_document_change_buffer.ts
Labels: api: firestore

#2083 Allow user to unlisten to queries after shutdown.
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/database.test.ts
Labels: api: firestore

#2095 Lint against master
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/test/integration/util/helpers.ts
Labels: api: firestore

#2099 Don't persist documents that we already have
  packages/firestore/src/local/local_store.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore
