Repository firebase/firebase-js-sdk, pull requests merged in 2019-09, with the labels that each got.

#2137 Avoid auth triggers if we haven't yet received the initial user.
  packages/firestore/CHANGELOG.md
  packages/firestore/src/api/credentials.ts
Labels: api: firestore

#2125 Index-Free: Track readTime in the RemoteDocument store
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/remote_document_change_buffer.ts
  packages/firestore/src/local/simple_db.ts
  packages/firestore/test/integration/api/batch_writes.test.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/unit/local/encoded_resource_path.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/remote_document_change_buffer.test.ts
  packages/firestore/test/unit/local/simple_db.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
  packages/firestore/test/unit/local/test_remote_document_change_buffer.ts
Labels: api: firestore

#2145 Misc. fixes.
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
Labels: api: firestore

#2147 Fix test I broke.
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
Labels: api: firestore

#2144 Remove nodePatches.ts hackery.
  packages/database/CHANGELOG.md
  packages/database/index.node.ts
  packages/database/package.json
  packages/database/src/nodePatches.ts
  packages/database/src/realtime/BrowserPollConnection.ts
Labels: api: database

#2128 Use Read-Time Index for Multi-Tab
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/remote_document_cache.ts
  packages/firestore/src/local/remote_document_change_buffer.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
Labels: api: firestore

#2148 Add QueryData.with() helpers
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/query_data.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/integration/api/batch_writes.test.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
Labels: api: firestore

#2138 Make IntellJ test runners connect to Emulator
  packages/firestore/.idea/runConfigurations/All_Tests__Emulator_.xml
  packages/firestore/.idea/runConfigurations/All_Tests__Emulator_w__Mock_Persistence_.xml
  packages/firestore/.idea/runConfigurations/Integration_Tests__Emulator_.xml
  packages/firestore/.idea/runConfigurations/Integration_Tests__Emulator_w__Mock_Persistence_.xml
Labels: api: firestore

#2152 Index-Free: Persist the lastLimboFreeSnapshot version
  packages/firestore/src/core/view_snapshot.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/local_view_changes.ts
  packages/firestore/src/local/query_data.ts
  packages/firestore/test/unit/core/view.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/query_cache.test.ts
  packages/firestore/test/unit/remote/node/serializer.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#2159 Index-Free: Filter document queries by read time
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/remote_document_cache.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
Labels: api: firestore

#2160 Add SimpleQueryEngine
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/query_engine.ts
  packages/firestore/src/local/simple_query_engine.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2163 Clean up IndexedDb initialization
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2100 Adding onSnapshotsInSync (not public)
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/event_manager.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2166 Port matchesAllDocuments()
  packages/firestore/src/core/query.ts
  packages/firestore/test/unit/core/query.test.ts
Labels: api: abtesting, api: firestore

#2178 Rename spec test functions
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2176 Change the order of checks in applyRemoteEvent()
  packages/firestore/src/local/local_store.ts
  packages/firestore/test/unit/local/local_store.test.ts
Labels: api: firestore

#2169 Add IndexFreeQueryEngine
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/view.ts
  packages/firestore/src/local/index_free_query_engine.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/query_engine.ts
  packages/firestore/src/local/simple_query_engine.ts
  packages/firestore/test/unit/local/counting_query_engine.ts
  packages/firestore/test/unit/local/index_free_query_engine.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
Labels: api: firestore

#2179 Add Query to Target ID Map
  packages/firestore/src/local/local_store.ts
Labels: api: firestore

#2184 Backport spec test function renaming
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2205 Add test for NoDocument assert
  packages/firestore/test/unit/specs/limbo_spec.test.ts
Labels: api: firestore

#2198 Make onSnapshotsInSync() public
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/CHANGELOG.md
  packages/firestore/src/api/database.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/integration/util/helpers.ts
Labels: api: firestore

#2188 Remove database field from REST API request body.
  packages/firestore/src/platform_browser/webchannel_connection.ts
Labels: api: firestore
