Repository firebase/firebase-js-sdk, pull requests merged in 2019-03, with the labels that each got.

#1578 Improved query performance in the face of subcollections.
  packages/firestore/CHANGELOG.md
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
Labels: api: firestore, type: bug

#1368 Add Numeric Add
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/src/api/field_value.ts
  packages/firestore/src/api/user_data_converter.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_mutation_queue.ts
  packages/firestore/src/local/mutation_queue.ts
  packages/firestore/src/model/document.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/model/mutation_batch.ts
  packages/firestore/src/model/transform_operation.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/util/input_validation.ts
  packages/firestore/test/integration/api/numeric_transforms.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/test_mutation_queue.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/unit/remote/node/serializer.test.ts
Labels: needs-triage

#1583 Fix test runners based on changes in #1561
  packages/firestore/.idea/runConfigurations/All_Tests.xml
  packages/firestore/.idea/runConfigurations/All_Tests__w__Mock_Persistence_.xml
  packages/firestore/.idea/runConfigurations/Integration_Tests.xml
  packages/firestore/.idea/runConfigurations/Integration_Tests__w__Mock_Persistence_.xml
  packages/firestore/.idea/runConfigurations/Unit_Tests.xml
  packages/firestore/.idea/runConfigurations/Unit_Tests__w__Mock_Persistence_.xml
  packages/firestore/package.json
Labels: api: firestore

#1576 Enable sourcemap generation throughout repo.
  packages/app/rollup.config.js
  packages/database/rollup.config.js
  packages/firebase/package.json
  packages/firebase/rollup.config.js
  packages/firestore/rollup.config.js
  packages/functions/rollup.config.js
  packages/logger/rollup.config.js
  packages/messaging/rollup.config.js
  packages/polyfill/rollup.config.js
  packages/rxfire/rollup.config.js
  packages/storage/rollup.config.js
  packages/template/rollup.config.js
  packages/testing/rollup.config.js
  packages/util/rollup.config.js
  packages/webchannel-wrapper/package.json
  packages/webchannel-wrapper/tools/build.js
  yarn.lock
Labels: api: core

#1440 Collection Group Queries w/ indexing
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/local/index_manager.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_index_manager.ts
  packages/firestore/src/local/memory_mutation_queue.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/persistence.ts
  packages/firestore/src/model/document_key.ts
  packages/firestore/src/model/path.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/unit/local/index_manager.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/test_index_manager.ts
  packages/firestore/test/unit/specs/query_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore, type: feature request

#1588 Add changelog entry for CG query internals.
  packages/firestore/CHANGELOG.md
Labels: api: firestore

#1590 Fix webchannel-wrapper sourcemap.
  packages/webchannel-wrapper/tools/build.js
Labels: api: firestore

#1596 Ensure consistent JSON Serialization of DocumentKeys
  packages/firestore/CHANGELOG.md
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/path.ts
  packages/firestore/src/util/sorted_map.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#1600 Adding missing export for DataSnapshot
  packages/database/index.node.ts
  packages/database/index.ts
Labels: api: database

#1603 b/123095740: Increase webchannel timeout to accommodate slow internet connections (#1447).
  packages/firestore/CHANGELOG.md
  packages/firestore/src/platform_browser/webchannel_connection.ts
  packages/webchannel-wrapper/externs/overrides.js
Labels: api: firestore
