Repository firebase/firebase-js-sdk, pull requests merged in 2019-11, with the labels that each got.

#2313 Add spec test for single client
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
Labels: api: firestore

#2321 Release Query.limitToLast(n)
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/CHANGELOG.md
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/target.ts
  packages/firestore/src/core/view.ts
  packages/firestore/src/local/index_free_query_engine.ts
  packages/firestore/src/local/indexeddb_query_cache.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_query_cache.ts
  packages/firestore/src/local/query_cache.ts
  packages/firestore/src/local/query_data.ts
  packages/firestore/src/local/shared_client_state.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/src/util/input_validation.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/core/view.test.ts
  packages/firestore/test/unit/local/index_free_query_engine.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/query_cache.test.ts
  packages/firestore/test/unit/local/test_query_cache.ts
  packages/firestore/test/unit/remote/node/serializer.test.ts
  packages/firestore/test/unit/specs/limbo_spec.test.ts
  packages/firestore/test/unit/specs/limit_spec.test.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#2333 Rename QueryData and QueryCache to TargetData and TargetCache
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/target_id_generator.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/indexeddb_target_cache.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/lru_garbage_collector.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/memory_target_cache.ts
  packages/firestore/src/local/persistence.ts
  packages/firestore/src/local/target_cache.ts
  packages/firestore/src/local/target_data.ts
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/remote_syncer.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/test/unit/core/target_id_generator.test.ts
  packages/firestore/test/unit/local/index_free_query_engine.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/target_cache.test.ts
  packages/firestore/test/unit/local/test_target_cache.ts
  packages/firestore/test/unit/remote/node/serializer.test.ts
  packages/firestore/test/unit/remote/remote_event.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#2334 Disallow empty document fields
  packages/firestore/src/api/user_data_converter.ts
  packages/firestore/test/integration/api/validation.test.ts
Labels: api: firestore

#2329 Migrate firestore to component framework
  packages/firestore/index.node.ts
  packages/firestore/index.ts
  packages/firestore/package.json
  packages/firestore/src/api/credentials.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/platform/config.ts
  packages/firestore/test/util/api_helpers.ts
Labels: api: firestore

#2346 Allow nested arrays for IN queries
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/user_data_converter.ts
  packages/firestore/test/integration/api/query.test.ts
Labels: api: firestore

#2357 Enable Index-Free Queries
  packages/firestore/CHANGELOG.md
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2351 remove prerender and unloaded from visibilityState
  packages/performance/src/utils/attribute_utils.test.ts
  packages/performance/src/utils/attributes_utils.ts
Labels: api: performance

#2371 Deleting comments from index.d.ts file in packages/firestore-types
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
Labels: api: firestore

#2352 rxfire: objectVal bugfix
  packages/rxfire/database/object/index.ts
Labels: RxFire, type: bug

#2382 LimitToLast: back port some changes from android
  packages/firestore/src/core/query.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/remote/remote_event.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/integration/api/query.test.ts
Labels: api: firestore

#2386 Don't use "long" in Proto types
  packages/firestore/src/protos/firestore_proto_api.d.ts
Labels: api: firestore
