Repository firebase/firebase-js-sdk, pull requests merged in 2020-07, with the labels that each got.

#3332 Don't use UserDataReader for Increment transform
  .changeset/plenty-maps-brush.md
  packages/firestore/lite/test/dependencies.json
  packages/firestore/src/api/field_value.ts
Labels: api: firestore

#3329 Tree-Shakeable Mutations
  .changeset/rotten-hats-fry.md
  packages/firestore/lite/test/dependencies.json
  packages/firestore/src/api/field_value.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/model/mutation_batch.ts
  packages/firestore/src/model/transform_operation.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
Labels: api: firestore

#3333 Make UserDataReader tree-shakeable
  .changeset/four-melons-laugh.md
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/exp/test/deps/dependencies.json
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/transaction.ts
  packages/firestore/lite/src/api/write_batch.ts
  packages/firestore/lite/test/dependencies.json
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#3359 Misc fixes for firestore-exp API definition
  .changeset/tough-donkeys-hope.md
  packages/firestore/exp/index.d.ts
  packages/firestore/lite/index.d.ts
  packages/firestore/lite/src/api/snapshot.ts
Labels: api: firestore

#3358 Misc fixes for tree-shakeable API
  .changeset/strong-geckos-peel.md
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/exp/src/api/snapshot.ts
  packages/firestore/lite/src/api/database.ts
  packages/firestore/lite/src/api/field_value.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/write_batch.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/integration/api/database.test.ts
Labels: api: firestore

#3360 Return correct DocumentSnapshot type in exp SDK
  .changeset/gorgeous-beers-build.md
  packages/firestore/exp/index.node.ts
  packages/firestore/exp/src/api/transaction.ts
  packages/firestore/lite/src/api/transaction.ts
Labels: api: firestore

#3362 Remove Multi-Tab overhead for non-multi-tab persistence
  .changeset/late-ladybugs-wash.md
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/test/deps/dependencies.json
  packages/firestore/index.node.ts
  packages/firestore/index.rn.ts
  packages/firestore/index.ts
  packages/firestore/src/core/component_provider.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  packages/firestore/test/util/api_helpers.ts
Labels: api: firestore

#3162 Handle IndexedDB errors in unsubscribe callback
  .changeset/smart-cars-doubt.md
  packages/firestore/src/local/local_store.ts
  packages/firestore/test/unit/specs/recovery_spec.test.ts
Labels: api: firestore

#3361 Add test-only API shim (firestore-exp)
  .changeset/friendly-crews-dream.md
  packages/firestore/exp/test/shim.ts
Labels: api: firestore

#3364 Add test-only API shim (Lite SDK)
  .changeset/wild-otters-fly.md
  packages/firestore/lite/test/shim.ts
Labels: api: firestore

#3373 Make clearIndexedDbPersistence() work without enableIndexedDbPersistence()
  .changeset/nice-deers-suffer.md
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/test/deps/dependencies.json
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
Labels: api: firestore

#3408 Add query() test helper
  packages/firestore/test/unit/api/document_change.test.ts
  packages/firestore/test/unit/core/event_manager.test.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/core/view.test.ts
  packages/firestore/test/unit/local/index_free_query_engine.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/mutation_queue.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/target_cache.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/unit/specs/collection_spec.test.ts
  packages/firestore/test/unit/specs/existence_filter_spec.test.ts
  packages/firestore/test/unit/specs/limbo_spec.test.ts
  packages/firestore/test/unit/specs/limit_spec.test.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/unit/specs/offline_spec.test.ts
  packages/firestore/test/unit/specs/orderby_spec.test.ts
  packages/firestore/test/unit/specs/perf_spec.test.ts
  packages/firestore/test/unit/specs/persistence_spec.test.ts
  packages/firestore/test/unit/specs/query_spec.test.ts
  packages/firestore/test/unit/specs/recovery_spec.test.ts
  packages/firestore/test/unit/specs/remote_store_spec.test.ts
  packages/firestore/test/unit/specs/resume_token_spec.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/unit/specs/write_spec.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#3402 Add type to DocumentReference/CollectionReference/Query
  packages/firestore/exp/index.d.ts
  packages/firestore/lite/index.d.ts
  packages/firestore/lite/src/api/reference.ts
Labels: api: firestore

#3165 Issue 2393 - Add environment check to Analytics Module
  .changeset/clean-numbers-flow.md
  packages/analytics/index.ts
  packages/analytics/package.json
  packages/analytics/src/errors.ts
  packages/analytics/src/factory.ts
  packages/analytics/src/helpers.ts
  packages/firebase/index.d.ts
  packages/util/src/environment.ts
Labels: api: analytics

#3403 Add support for collection(coll) and doc(doc)
  packages/firestore/exp/index.d.ts
  packages/firestore/lite/index.d.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/test/integration.test.ts
Labels: api: firestore

#3417 Move Datastore to ComponentProvider
  packages/firestore/lite/src/api/database.ts
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/integration/util/internal_helpers.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#3374 Share Integration Tests between firestore-exp and the main SDK
  .changeset/smooth-shirts-teach.md
  integration/firestore/firebase_export.ts
  integration/firestore/firebase_export_memory.ts
  integration/firestore/gulpfile.js
  integration/firestore/package.json
  packages/firestore/.idea/runConfigurations/firestore_exp_Tests__Emulator__.xml
  packages/firestore/.idea/runConfigurations/firestore_exp_Tests__Emulator_w__Mock_Persistence_.xml
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/src/api/snapshot.ts
  packages/firestore/exp/test/deps/verify_dependencies.test.ts
  packages/firestore/exp/test/helpers.ts
  packages/firestore/exp/test/integration.test.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite/src/api/database.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/snapshot.ts
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/package.json
  packages/firestore/src/util/input_validation.ts
  packages/firestore/test/integration/api/README.md
  packages/firestore/test/integration/api/array_transforms.test.ts
  packages/firestore/test/integration/api/batch_writes.test.ts
  packages/firestore/test/integration/api/cursor.test.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api/fields.test.ts
  packages/firestore/test/integration/api/get_options.test.ts
  packages/firestore/test/integration/api/numeric_transforms.test.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/integration/api/server_timestamp.test.ts
  packages/firestore/test/integration/api/transactions.test.ts
  packages/firestore/test/integration/api/type.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/integration/api_internal/database.test.ts
  packages/firestore/test/integration/util/firebase_export.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/util/api_helpers.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#3414 Add Storage Integration tests
  .changeset/strange-lions-dress.md
  packages/storage/karma.conf.js
  packages/storage/package.json
  packages/storage/src/implementation/error.ts
  packages/storage/test/integration/integration.test.ts
  packages/storage/test/unit/blob.test.ts
  packages/storage/test/unit/reference.test.ts
  packages/storage/test/unit/request.test.ts
  packages/storage/test/unit/requests.test.ts
  packages/storage/test/unit/service.test.ts
  packages/storage/test/unit/string.test.ts
  packages/storage/test/unit/task.test.ts
  packages/storage/test/unit/testshared.ts
  packages/storage/test/unit/xhrio.ts
Labels: api: storage

#3400 Add ReactNative and Browser builds (Lite/Exp)
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/index.ts
  packages/firestore/exp/package.json
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/exp/src/api/snapshot.ts
  packages/firestore/exp/src/api/transaction.ts
  packages/firestore/exp/src/api/write_batch.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/externs.json
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/index.ts
  packages/firestore/lite/package.json
  packages/firestore/lite/src/api/database.ts
  packages/firestore/lite/src/api/field_path.ts
  packages/firestore/lite/src/api/field_value.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/snapshot.ts
  packages/firestore/lite/src/api/transaction.ts
  packages/firestore/lite/src/api/write_batch.ts
  packages/firestore/lite/test/shim.ts
  packages/firestore/package.json
  packages/firestore/rollup.config.exp.js
  packages/firestore/rollup.config.lite.js
Labels: api: firestore

#3436 Remove MultiTabLocalStore
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/persistence.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#3405 Remove debugAsserts from Node builds
  packages/firestore/exp/test/deps/dependencies.json
  packages/firestore/lite/test/dependencies.json
  packages/firestore/package.json
  packages/firestore/rollup.config.es2017.js
  packages/firestore/rollup.config.exp.js
  packages/firestore/rollup.config.lite.js
  packages/firestore/rollup.shared.js
Labels: api: firestore

#3442 Remove MultiTabSyncEngine
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/shared_client_state.ts
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/unit/local/web_storage_shared_client_state.test.ts
Labels: api: firestore

#3390 New Query API
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/index.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/index.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/test/helpers.ts
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/lite/test/shim.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_mutation_queue.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/core/view.test.ts
  packages/firestore/test/unit/local/index_free_query_engine.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/target_cache.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/unit/specs/describe_spec.ts
  packages/firestore/test/unit/specs/existence_filter_spec.test.ts
  packages/firestore/test/unit/specs/limbo_spec.test.ts
  packages/firestore/test/unit/specs/limit_spec.test.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/unit/specs/offline_spec.test.ts
  packages/firestore/test/unit/specs/query_spec.test.ts
  packages/firestore/test/unit/specs/recovery_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/api_helpers.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#3443 Use the SDK version from Firebase package.json
  packages/firestore/rollup.config.exp.js
  packages/firestore/rollup.config.lite.js
  packages/firestore/src/core/version.ts
Labels: api: firestore

#3437 Fix imports for Console builds
  packages/firestore/index.console.ts
Labels: api: firestore

#3450 Don't log Cancelled warning when stream is closed
  packages/firestore/src/platform/node/grpc_connection.ts
Labels: api: firestore

#3448 Add Browser tests for Lite and Exp
  packages/firestore/exp/index.ts
  packages/firestore/exp/register.ts
  packages/firestore/exp/test/bootstrap.ts
  packages/firestore/karma.conf.js
  packages/firestore/lite/index.ts
  packages/firestore/lite/register.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/test/bootstrap.ts
  packages/firestore/package.json
  packages/firestore/scripts/build-bundle.ts
  packages/firestore/src/platform/browser/webchannel_connection.ts
Labels: api: firestore

#3461 s/getQuery/getDocs
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/index.ts
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/index.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/test/integration.test.ts
Labels: api: firestore

#3382 Optional Datastore/FirestoreClient
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/src/api/components.ts
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/exp/src/api/transaction.ts
  packages/firestore/exp/src/api/write_batch.ts
  packages/firestore/lite/dependencies.json
  packages/firestore/lite/src/api/components.ts
  packages/firestore/lite/src/api/database.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/transaction.ts
  packages/firestore/lite/src/api/write_batch.ts
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/integration/api/validation.test.ts
Labels: api: firestore

#3460 Extract Offline-only component provider
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/src/api/components.ts
  packages/firestore/exp/src/api/database.ts
  packages/firestore/index.memory.ts
  packages/firestore/index.node.memory.ts
  packages/firestore/index.node.ts
  packages/firestore/index.rn.memory.ts
  packages/firestore/index.rn.ts
  packages/firestore/index.ts
  packages/firestore/lite/dependencies.json
  packages/firestore/package.json
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/api_helpers.ts
Labels: api: firestore

#3493 Tree-shake UMD builds
  packages/firestore/exp/package.json
  packages/firestore/lite/package.json
  packages/firestore/rollup.config.exp.js
  packages/firestore/rollup.config.lite.js
Labels: api: firestore

#3491 Simplify Listen API
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/util/async_observer.ts
Labels: api: firestore

#3492 Tree-shakeable FirestoreClient
  packages/firestore/src/core/firestore_client.ts
Labels: api: firestore

#3507 Refactor some FirestoreClient methods
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
Labels: api: firestore

#3508 LocalStore-only queries
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/src/api/components.ts
  packages/firestore/exp/src/api/database.ts
  packages/firestore/exp/src/api/reference.ts
  packages/firestore/exp/src/api/write_batch.ts
  packages/firestore/lite/src/api/database.ts
  packages/firestore/scripts/build-bundle.js
  packages/firestore/scripts/build-bundle.ts
  packages/firestore/scripts/run-tests.js
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/firestore_client.ts
Labels: api: firestore

#3518 Undo prettier for generated source
  packages/firestore/scripts/build-bundle.js
  packages/firestore/scripts/run-tests.js
Labels: api: firestore

#3528 Add NOT_EQUAL and NOT_IN protos
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/protos/google/firestore/v1/query.proto
Labels: api: firestore
