Repository firebase/firebase-js-sdk, pull requests merged in 2020-08, with the labels that each got.

#3532 Fix bug in terminate()
  packages/firestore/exp/src/api/database.ts
Labels: api: firestore

#3540 Remove FieldFilter instanceof checks
  packages/firestore/exp/dependencies.json
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/remote/serializer.ts
Labels: api: firestore

#3539 Remove TransactionRunner when not used
  packages/firestore/exp/dependencies.json
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/remote/remote_store.ts
Labels: api: firestore

#3533 add IS_NOT_NULL and IS_NOT_NAN protos
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/protos/google/firestore/v1/query.proto
Labels: api: firestore

#3555 Browser Extension Check for Analytics Module
  .changeset/spicy-masks-sort.md
  packages/analytics/index.ts
  packages/analytics/src/errors.ts
  packages/analytics/src/factory.ts
Labels: api: analytics

#3557 Add NOT_IN and != queries (not public)
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
Labels: api: firestore

#3535 Re-open IndexedDB if closed
  .changeset/quick-drinks-cheat.md
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/simple_db.ts
  packages/firestore/test/unit/local/encoded_resource_path.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/simple_db.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#3586 Fix bug in AsyncQueue visibility handler
  .changeset/tidy-elephants-beam.md
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/util/async_queue.ts
Labels: api: firestore

#3569 Make newConnection() synchronous
  packages/firestore/exp/src/api/transaction.ts
  packages/firestore/lite/src/api/components.ts
  packages/firestore/lite/src/api/database.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/src/api/transaction.ts
  packages/firestore/lite/src/api/write_batch.ts
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/platform/browser/connection.ts
  packages/firestore/src/platform/browser_lite/connection.ts
  packages/firestore/src/platform/connection.ts
  packages/firestore/src/platform/node/connection.ts
  packages/firestore/src/platform/node_lite/connection.ts
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/integration/util/internal_helpers.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#3597 add test for != document ID
  packages/firestore/test/integration/api/query.test.ts
Labels: api: firestore

#3596 Add lite/package.json to 'files'
  packages/firestore/package.json
Labels: api: firestore

#3607 Address 'calling shutdown of undefined' warning
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
Labels: api: firestore

#3575 Make shutdown idempotent
  .changeset/neat-gorillas-behave.md
  packages/firestore/exp/src/api/database.ts
  packages/firestore/src/api/credentials.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/util/firebase_export.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/unit/util/async_queue.test.ts
Labels: api: firestore

#3627 Abort tests when test runner script is aborted
  scripts/emulator-testing/firestore-test-runner.ts
Labels: api: firestore

#3626 Silence nyc
  packages/firestore/scripts/run-tests.js
  packages/firestore/scripts/run-tests.ts
Labels: api: firestore

#3615 Add `toJSON` methods to `GeoPoint` and `Timestamp`
  packages/firestore/src/api/geo_point.ts
  packages/firestore/src/api/timestamp.ts
  packages/firestore/test/unit/api/geo_point.test.ts
  packages/firestore/test/unit/api/timestamp.test.ts
Labels: api: firestore

#3531 Tree-shake LocalStore's implementation
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/src/api/components.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/unit/local/local_store.test.ts
Labels: api: firestore

#3642 Rewrite proto root for exp build
  packages/firestore/rollup.config.exp.js
  packages/firestore/rollup.shared.js
Labels: api: firestore

#3641 Remove firestore/exp dependency on firebase/app
  packages/firestore/src/platform/node/grpc_connection.ts
Labels: api: firestore

#3652 Replace usage of Set<DocumentKey> with Set<path>
  packages/firestore/src/core/transaction.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/model/document_key.ts
Labels: api: firestore

#3424 Issue 2393 - Add environment check to Performance Module
  .changeset/little-cycles-fold.md
  packages/performance/index.ts
  packages/performance/src/controllers/perf.test.ts
  packages/performance/src/controllers/perf.ts
  packages/performance/src/services/api_service.test.ts
  packages/performance/src/services/api_service.ts
  packages/performance/src/services/perf_logger.ts
Labels: api: performance

#3464 add option to merge settings
  .changeset/mean-jokes-tan.md
  packages/firebase/index.d.ts
  packages/firestore-types/index.d.ts
  packages/firestore/src/api/database.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/unit/api/database.test.ts
  packages/firestore/test/util/api_helpers.ts
Labels: api: firestore

#3680 Fix typo
  .github/workflows/test-changed-fcm-integration.yml
  .github/workflows/test-changed-firestore-integration.yml
  .github/workflows/test-changed-firestore.yml
Labels: api: firestore

#3677 Rename Blob to Bytes
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/index.ts
  packages/firestore/exp/src/api/snapshot.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/dependencies.json
  packages/firestore/lite/index.ts
  packages/firestore/lite/src/api/bytes.ts
  packages/firestore/lite/src/api/snapshot.ts
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/src/api/blob.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#3679 Move parent/doc/collection back
  packages/firestore/exp-types/index.d.ts
  packages/firestore/exp/dependencies.json
  packages/firestore/exp/index.ts
  packages/firestore/exp/test/shim.ts
  packages/firestore/lite-types/index.d.ts
  packages/firestore/lite/dependencies.json
  packages/firestore/lite/index.ts
  packages/firestore/lite/src/api/reference.ts
  packages/firestore/lite/test/integration.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  scripts/exp/extract-deps.helpers.ts
Labels: api: firestore

#3640 Tree-Shake EventManager
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/event_manager.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/test/unit/core/event_manager.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#3700 Don't switch network status to UNKNOWN during user change
  .changeset/cold-impalas-drop.md
  packages/firestore/exp/src/api/components.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/unit/specs/offline_spec.test.ts
Labels: api: firestore
