Repository firebase/firebase-js-sdk, pull requests merged in 2020-03, with the labels that each got.

#2697 Remove enum overhead
  packages/firestore/src/api/user_data_converter.ts
  packages/firestore/src/core/event_manager.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/core/target_id_generator.ts
  packages/firestore/src/core/types.ts
  packages/firestore/src/core/view.ts
  packages/firestore/src/core/view_snapshot.ts
  packages/firestore/src/local/target_data.ts
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/remote/online_state_tracker.ts
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/rpc_error.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/src/util/log.ts
  packages/firestore/test/unit/core/event_manager.test.ts
  packages/firestore/test/unit/local/web_storage_shared_client_state.test.ts
Labels: api: firestore

#2682 Protobuf-backed FieldValues
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/proto_field_value.ts
  packages/firestore/src/model/proto_values.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/unit/model/field_value.test.ts
  packages/firestore/test/unit/model/object_value_builder.test.ts
  packages/firestore/test/util/values.ts
Labels: api: firestore

#2684 Limit Timestamp normalization
  packages/firestore/src/model/proto_values.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/model/field_value.test.ts
Labels: api: firestore

#2685 Simplify Document
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/model/document.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/model/proto_values.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#2686 Canonical ID Schema Migration
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
Labels: api: firestore

#2687 Add explicit FieldValue canonicalization
  packages/firestore/src/model/document.ts
  packages/firestore/src/model/proto_values.ts
  packages/firestore/test/unit/model/field_value.test.ts
Labels: api: firestore

#2689 Explicit byte size accounting
  packages/firestore/src/model/proto_values.ts
  packages/firestore/test/unit/model/field_value.test.ts
Labels: api: firestore

#2713 Introducing UserDataReader/UserDataWriter
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/core/transaction.ts
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/proto_field_value.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/util/helpers.ts
  packages/firestore/test/util/values.ts
Labels: api: firestore

#2693 Fix racy promises in SpecTestRunner
  packages/firestore/src/util/async_queue.ts
  packages/firestore/test/unit/specs/limbo_spec.test.ts
Labels: api: firestore

#2752 Remove custom implementations for Number methods
  packages/firestore/src/core/types.ts
  packages/firestore/src/util/types.ts
  packages/firestore/test/unit/model/field_value.test.ts
  packages/firestore/test/unit/remote/node/serializer.test.ts
Labels: api: firestore

#2751 Support -0.0 in Firestore
  packages/firestore/CHANGELOG.md
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/util/types.ts
  packages/firestore/test/integration/api/type.test.ts
  packages/firestore/test/util/equality_matcher.ts
Labels: api: firestore

#2748 Add ServerTimestamp helpers
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/model/server_timestamps.ts
Labels: api: firestore

#2749 Add ProtoJS types to generated proto types
  packages/firestore/src/model/proto_values.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/util/types.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2757 Make Serializer tests work in browser, remove test duplication
  packages/firestore/src/util/types.ts
  packages/firestore/test/unit/model/field_value.test.ts
  packages/firestore/test/unit/remote/serializer.test.ts
  packages/firestore/test/util/node_helpers.ts
  packages/firestore/test/util/test_platform.ts
Labels: api: firestore

#2750 Rename proto_values->values, create values.test.ts
  packages/firestore/src/model/document_key.ts
  packages/firestore/src/model/proto_field_value.ts
  packages/firestore/src/model/server_timestamps.ts
  packages/firestore/src/model/values.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/model/field_value.test.ts
  packages/firestore/test/unit/model/values.test.ts
  packages/firestore/test/util/test_platform.ts
Labels: api: firestore

#2753 Add small Proto helpers
  packages/firestore/src/model/values.ts
Labels: api: firestore

#2767 Make MemoryLru tree-shakeable
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/test/unit/generate_spec_json.js
  packages/firestore/test/unit/local/persistence_test_helpers.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/test_platform.ts
Labels: api: firestore

#2766 Finish FieldValue migration
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/field_value.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/target.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/model/document.ts
  packages/firestore/src/model/document_key.ts
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/model/mutation_batch.ts
  packages/firestore/src/model/proto_field_value.ts
  packages/firestore/src/model/transform_operation.ts
  packages/firestore/src/model/values.ts
  packages/firestore/src/platform/platform.ts
  packages/firestore/src/platform_browser/browser_platform.ts
  packages/firestore/src/platform_node/node_platform.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/util/misc.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/model/document.test.ts
  packages/firestore/test/unit/model/field_value.test.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/unit/model/object_value_builder.test.ts
  packages/firestore/test/unit/model/values.test.ts
  packages/firestore/test/unit/remote/remote_event.test.ts
  packages/firestore/test/unit/remote/serializer.test.ts
  packages/firestore/test/unit/specs/query_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/util/helpers.ts
  packages/firestore/test/util/test_platform.ts
  packages/firestore/test/util/values.ts
Labels: api: firestore

#2786 FieldValue changelog
  packages/firestore/CHANGELOG.md
Labels: api: firestore

#2788 Fix `yarn:dev`
  packages/firestore/package.json
Labels: api: firestore

#2784 Field Value migration
  packages/firestore/CHANGELOG.md
  packages/firestore/src/api/blob.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/field_value.ts
  packages/firestore/src/api/user_data_reader.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/target.ts
  packages/firestore/src/core/transaction.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/model/document.ts
  packages/firestore/src/model/document_key.ts
  packages/firestore/src/model/field_value.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/model/mutation_batch.ts
  packages/firestore/src/model/server_timestamps.ts
  packages/firestore/src/model/transform_operation.ts
  packages/firestore/src/model/values.ts
  packages/firestore/src/platform/platform.ts
  packages/firestore/src/platform_browser/browser_platform.ts
  packages/firestore/src/platform_node/node_platform.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/util/byte_string.ts
  packages/firestore/src/util/misc.ts
  packages/firestore/src/util/obj.ts
  packages/firestore/src/util/types.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/unit/api/blob.test.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/model/document.test.ts
  packages/firestore/test/unit/model/field_value.test.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/unit/model/object_value_builder.test.ts
  packages/firestore/test/unit/model/values.test.ts
  packages/firestore/test/unit/remote/remote_event.test.ts
  packages/firestore/test/unit/remote/serializer.test.ts
  packages/firestore/test/unit/specs/query_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/helpers.ts
  packages/firestore/test/util/test_platform.ts
Labels: api: firestore

#2758 Support storage.googleapis.com in refFromUrl
  packages/storage/src/implementation/location.ts
  packages/storage/test/service.test.ts
Labels: api: storage

#2806 Simplify logging
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/user_data_writer.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/index_free_query_engine.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/lru_garbage_collector.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/shared_client_state.ts
  packages/firestore/src/local/simple_db.ts
  packages/firestore/src/platform_browser/browser_connectivity_monitor.ts
  packages/firestore/src/platform_browser/webchannel_connection.ts
  packages/firestore/src/platform_node/grpc_connection.ts
  packages/firestore/src/remote/backoff.ts
  packages/firestore/src/remote/online_state_tracker.ts
  packages/firestore/src/remote/persistent_stream.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/rpc_error.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/src/util/assert.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/src/util/log.ts
  packages/firestore/test/unit/util/async_queue.test.ts
Labels: api: firestore

#2809 Feed pushManger with Uint8Array VapidKey
  packages/messaging/src/core/token-management.test.ts
  packages/messaging/src/core/token-management.ts
  packages/messaging/src/helpers/array-base64-translator.test.ts
  packages/messaging/src/helpers/array-base64-translator.ts
  packages/messaging/src/helpers/array-to-base64.test.ts
  packages/messaging/src/helpers/migrate-old-database.test.ts
  packages/messaging/src/helpers/migrate-old-database.ts
  packages/messaging/src/testing/fakes/token-details.ts
Labels: api: messaging

#2790 Implement limbo resolution throttling.
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/test/unit/specs/limbo_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore

#2832 Fix IE11 broken by Crypto change.
  packages/firestore/src/platform_browser/browser_platform.ts
  packages/firestore/src/util/misc.ts
Labels: api: firestore

#2813 Move test code to test helpers
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/util/helpers.ts
  packages/firestore/test/util/spec_test_helpers.ts
Labels: api: firestore

#2807 Remove namespace import for objUtils
  packages/firestore/src/api/database.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/encoded_resource_path.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/indexeddb_target_cache.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/shared_client_state.ts
  packages/firestore/src/model/values.ts
  packages/firestore/src/platform/config.ts
  packages/firestore/src/platform_node/load_protos.ts
  packages/firestore/src/platform_node/node_platform.ts
  packages/firestore/src/remote/remote_event.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/src/util/input_validation.ts
  packages/firestore/src/util/obj.ts
  packages/firestore/src/util/obj_map.ts
  packages/firestore/test/unit/local/encoded_resource_path.test.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/web_storage_shared_client_state.test.ts
  packages/firestore/test/unit/remote/remote_event.test.ts
  packages/firestore/test/unit/remote/serializer.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/unit/util/sorted_map.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#2817 Remove unused code
  packages/firestore/src/core/snapshot_version.ts
  packages/firestore/src/local/encoded_resource_path.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/reference_set.ts
  packages/firestore/src/local/target_data.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/remote/existence_filter.ts
  packages/firestore/src/util/async_queue.ts
  packages/firestore/src/util/misc.ts
  packages/firestore/src/util/sorted_set.ts
  packages/firestore/test/unit/local/encoded_resource_path.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/reference_set.test.ts
  packages/firestore/test/unit/local/target_cache.test.ts
  packages/firestore/test/unit/remote/serializer.test.ts
  packages/firestore/test/unit/util/async_queue.test.ts
  packages/firestore/test/unit/util/sorted_set.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore
