Repository firebase/firebase-js-sdk, pull requests merged in 2020-01, with the labels that each got.

#2436 Add verify support
  packages/firestore/src/core/transaction.ts
  packages/firestore/src/model/mutation.ts
  packages/firestore/src/protos/firestore_proto_api.d.ts
  packages/firestore/src/protos/google/firestore/v1/write.proto
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/integration/api/transactions.test.ts
  packages/firestore/test/unit/remote/node/serializer.test.ts
Labels: api: firestore

#2506 Initialize transport service in Performance Monitoring when performance() is called.
  packages/performance/src/controllers/perf.ts
  packages/performance/src/services/cc_service.test.ts
  packages/performance/src/services/oob_resources_service.test.ts
  packages/performance/src/services/perf_logger.test.ts
  packages/performance/src/services/perf_logger.ts
  packages/performance/src/services/transport_service.test.ts
  packages/performance/src/services/transport_service.ts
Labels: api: performance

#2492 Add CHANGELOG for Fireperf transport update from proto2 to proto3
  packages/performance/CHANGELOG.md
Labels: api: performance

#2509 Get closure-library from google-closure-library.
  packages/webchannel-wrapper/package.json
  packages/webchannel-wrapper/tools/build.js
  yarn.lock
Labels: api: firestore

#2514 Add QueryDocumentSnapshot to the internal FirebaseNamespace
  packages/firestore/index.node.ts
  packages/firestore/index.ts
Labels: api: firestore

#2525 Performance Monitoring transport format upgrade from proto2 to proto3
  packages/performance/CHANGELOG.md
  packages/performance/src/resources/trace.test.ts
  packages/performance/src/services/perf_logger.test.ts
  packages/performance/src/services/perf_logger.ts
  packages/performance/src/services/transport_service.ts
Labels: api: performance

#2495 Add minified ("mangled") Firestore build
  .gitignore
  packages/firebase/firestore/index.min.ts
  packages/firebase/rollup.config.js
  packages/firestore/.npmignore
  packages/firestore/externs.json
  packages/firestore/package.json
  packages/firestore/rollup.config.js
  packages/firestore/scripts/extract-api.ts
  packages/firestore/scripts/rename-internals.ts
Labels: api: firestore

#2534 Fix for #1491: Disable use of $httpHeaders in browser extensions too.
  packages/firestore/CHANGELOG.md
  packages/firestore/src/platform_browser/webchannel_connection.ts
  packages/util/src/environment.ts
Labels: api: firestore

#2562 Add changelog for verify
  packages/firestore/CHANGELOG.md
Labels: api: firestore

#2544 Move ignoreIfPrimaryLeaseLoss to local_store.ts
  packages/firestore/src/core/sync_engine.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/lru_garbage_collector.ts
  packages/firestore/src/local/persistence.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/test/integration/api/database.test.ts
Labels: api: firestore

#2533 Run Firestore Integration tests against mangled sources
  integration/firestore/gulpfile.js
  packages/firestore/externs.json
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api_internal/database.test.ts
Labels: api: firestore

#2571 Added docData function to rxfire documentation.
  packages/rxfire/docs/firestore.md
Labels: needs-attention

#2566 Remove instanceof IndexedDbRemoteDocumentCache check
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/local_store.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/remote_document_cache.ts
  packages/firestore/test/integration/api_internal/database.test.ts
  packages/firestore/test/unit/local/counting_query_engine.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
Labels: api: firestore

#2585 Ignore primary lease loss in maybeGarbageCollectMultiClientState
  packages/firestore/src/local/indexeddb_persistence.ts
Labels: api: firestore
