Repository firebase/firebase-js-sdk, pull requests merged in 2021-08, with the labels that each got.

#5270 Fixing lint on packages/firestore
  .changeset/witty-gorillas-punch.md
  packages/firestore/rollup.shared.js
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/sync_engine_impl.ts
  packages/firestore/src/local/indexeddb_schema_converter.ts
  packages/firestore/src/local/indexeddb_target_cache.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store_impl.ts
  packages/firestore/src/local/lru_garbage_collector_impl.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/src/local/persistence_promise.ts
  packages/firestore/src/local/remote_document_change_buffer.ts
  packages/firestore/src/model/normalize.ts
  packages/firestore/src/protos/firestore_proto_api.ts
  packages/firestore/src/remote/remote_store.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/test/integration/api/bundle.test.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/integration/util/internal_helpers.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/mutation_queue.test.ts
  packages/firestore/test/unit/local/query_engine.test.ts
  packages/firestore/test/unit/local/target_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
  packages/firestore/test/unit/local/web_storage_shared_client_state.test.ts
  packages/firestore/test/unit/remote/remote_event.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  packages/firestore/test/unit/util/bundle_data.ts
Labels: api: firestore

#5279 Make initializeAuth() idempotent
  packages-exp/auth-exp/src/core/auth/initialize.test.ts
  packages-exp/auth-exp/src/core/auth/initialize.ts
  packages-exp/auth-exp/src/core/errors.ts
Labels: v9

#5272 Make initialize methods for each product idempotent
  .changeset/fast-buses-scream.md
  common/api-review/app-check-exp.api.md
  packages-exp/analytics-exp/src/api.test.ts
  packages-exp/analytics-exp/src/api.ts
  packages-exp/analytics-exp/src/errors.ts
  packages-exp/analytics-exp/src/factory.ts
  packages-exp/analytics-exp/src/index.test.ts
  packages-exp/analytics-exp/src/initialize-analytics.test.ts
  packages-exp/analytics-exp/src/initialize-analytics.ts
  packages-exp/analytics-exp/src/public-types.ts
  packages-exp/analytics-exp/testing/get-fake-firebase-services.ts
  packages-exp/analytics-exp/testing/integration-tests/integration.ts
  packages-exp/app-check-exp/src/api.test.ts
  packages-exp/app-check-exp/src/api.ts
  packages-exp/app-check-exp/src/errors.ts
  packages-exp/app-check-exp/src/providers.ts
  packages-exp/auth-exp/src/core/auth/initialize.test.ts
  packages-exp/auth-exp/src/core/auth/initialize.ts
  packages-exp/auth-exp/src/core/errors.ts
  packages-exp/performance-exp/src/index.test.ts
  packages-exp/performance-exp/src/index.ts
  packages-exp/performance-exp/src/utils/errors.ts
  packages/component/src/provider.ts
  packages/firestore/src/exp/database.ts
Labels: v9

#5255 update getAuth comment to make clear that it's idempotent
  packages-exp/auth-exp/index.ts
Labels: v9

#5299 Disable negative zero test on IndexedDB
  .changeset/blue-suits-wait.md
  packages/firestore/test/integration/api/type.test.ts
Labels: api: firestore

#5307 Disable long-polling test
  .changeset/witty-brooms-relate.md
  packages/firestore/test/integration/api/database.test.ts
Labels: api: firestore

#5288 Run LRU even if multi-tab is disabled
  .changeset/witty-chicken-mate.md
  packages/firestore/src/core/component_provider.ts
Labels: api: firestore

#5268 Firestore: QoL improvements for converters
  .changeset/dirty-pandas-pay.md
  common/api-review/firestore-lite.api.md
  common/api-review/firestore.api.md
  packages/firebase/index.d.ts
  packages/firestore/compat/config.ts
  packages/firestore/exp/api.ts
  packages/firestore/lite/index.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/exp/reference.ts
  packages/firestore/src/exp/reference_impl.ts
  packages/firestore/src/exp/snapshot.ts
  packages/firestore/src/lite/reference.ts
  packages/firestore/src/lite/reference_impl.ts
  packages/firestore/src/lite/snapshot.ts
  packages/firestore/src/lite/transaction.ts
  packages/firestore/src/lite/types.ts
  packages/firestore/src/lite/user_data_reader.ts
  packages/firestore/src/lite/write_batch.ts
  packages/firestore/test/lite/helpers.ts
  packages/firestore/test/lite/integration.test.ts
Labels: api: firestore

#5352 Add Rules Unit Testing v2 skeleton for v9 release
  .changeset/stale-ducks-live.md
  packages/rules-unit-testing/index.ts
  packages/rules-unit-testing/package.json
  packages/rules-unit-testing/test/database.test.ts
  scripts/emulator-testing/emulators/emulator.ts
  yarn.lock
Labels: testing-sdk

#5334 Implement emulators discovery in RUTv2.
  packages/rules-unit-testing/src/impl/discovery.ts
  packages/rules-unit-testing/src/initialize.ts
  packages/rules-unit-testing/test/impl/discovery.test.ts
Labels: testing-sdk

#5343 Implement most of RUTv2 features.
  packages/rules-unit-testing/src/api/index.ts
  packages/rules-unit-testing/src/impl/test_environment.ts
  packages/rules-unit-testing/src/initialize.ts
  packages/rules-unit-testing/src/public_types/index.ts
  packages/rules-unit-testing/src/util.ts
  packages/rules-unit-testing/test/util.test.ts
Labels: testing-sdk

#5358 Use public typings for release
  common/api-review/storage.api.md
  packages/database/package.json
  packages/storage/package.json
  packages/storage/src/implementation/taskenums.ts
  packages/storage/src/service.ts
Labels: v9

#5360 Implement rest of RUTv2 features.
  packages/rules-unit-testing/src/impl/discovery.ts
  packages/rules-unit-testing/src/impl/rules.ts
  packages/rules-unit-testing/src/impl/test_environment.ts
  packages/rules-unit-testing/src/impl/url.ts
  packages/rules-unit-testing/src/initialize.ts
  packages/rules-unit-testing/src/util.ts
  packages/rules-unit-testing/test/impl/discovery.test.ts
  packages/rules-unit-testing/test/impl/rules.test.ts
  packages/rules-unit-testing/test/test_utils.ts
  packages/rules-unit-testing/test/util.test.ts
  yarn.lock
Labels: testing-sdk

#5366 Fix compat import path typo for RUT.
  packages/rules-unit-testing/src/impl/test_environment.ts
Labels: testing-sdk

#5385 Remove private types in app-compat
  .changeset/slimy-jobs-wave.md
  packages/app-compat/api-extractor.json
  packages/app-compat/package.json
  packages/app-compat/src/firebaseApp.ts
  packages/app-compat/src/public-types.ts
Labels: doc-changes
