Repository firebase/firebase-js-sdk, pull requests merged in 2021-04, with the labels that each got.

#4694 Add events to database@exp
  packages/database/.idea/runConfigurations/All_Tests.xml
  packages/database/exp/index.ts
  packages/database/src/api/Reference.ts
  packages/database/src/api/test_access.ts
  packages/database/src/core/PersistentConnection.ts
  packages/database/src/core/ReadonlyRestClient.ts
  packages/database/src/core/Repo.ts
  packages/database/src/core/ServerActions.ts
  packages/database/src/core/SyncPoint.ts
  packages/database/src/core/SyncTree.ts
  packages/database/src/core/util/util.ts
  packages/database/src/core/view/Event.ts
  packages/database/src/core/view/EventGenerator.ts
  packages/database/src/core/view/EventRegistration.ts
  packages/database/src/core/view/QueryParams.ts
  packages/database/src/core/view/View.ts
  packages/database/src/exp/DataSnapshot.ts
  packages/database/src/exp/Database.ts
  packages/database/src/exp/Query.ts
  packages/database/src/exp/Reference.ts
  packages/database/src/exp/Reference_impl.ts
  packages/database/test/datasnapshot.test.ts
  packages/database/test/exp/integration.test.ts
  packages/database/test/query.test.ts
Labels: api: database

#4709 Implement Query Compat and query@exp
  packages/database/src/api/Reference.ts
  packages/database/src/api/internal.ts
  packages/database/src/exp/Reference.ts
  packages/database/src/exp/Reference_impl.ts
  packages/database/test/query.test.ts
  packages/firestore/src/lite/query.ts
Labels: api: database

#4719 Compat class for Reference
  packages/database/exp/index.ts
  packages/database/src/api/Database.ts
  packages/database/src/api/Reference.ts
  packages/database/src/exp/Database.ts
  packages/database/src/exp/Reference_impl.ts
  packages/database/src/exp/Transaction.ts
  packages/database/test/helpers/util.ts
  packages/database/test/query.test.ts
  packages/database/test/transaction.test.ts
Labels: api: database

#4728 ServerValues Compat
  packages/database/src/api/Database.ts
  packages/database/src/exp/ServerValue.ts
Labels: api: database

#4730 EnableLogging Compat
  packages/database/index.node.ts
  packages/database/index.ts
  packages/database/src/exp/Database.ts
Labels: api: database

#4731 Re-enable database@exp tests
  packages/database/test/exp/integration.test.ts
Labels: api: database

#4729 Remove argument numbers from validation
  .changeset/lets-go-travel.md
  packages/database/src/api/Reference.ts
  packages/database/src/api/onDisconnect.ts
  packages/database/src/core/util/validation.ts
  packages/database/src/exp/Database.ts
  packages/database/src/exp/OnDisconnect.ts
  packages/database/src/exp/Reference_impl.ts
  packages/database/test/exp/integration.test.ts
  packages/util/src/validation.ts
Labels: api: database

#4745 remove floating point rounding error in Timestamp.fromMillis()
  .changeset/rich-olives-tease.md
  packages/firestore/src/lite/timestamp.ts
  packages/firestore/test/unit/api/timestamp.test.ts
Labels: api: firestore

#4759 Combine Firestore and Database API scripts
  packages/database/package.json
  packages/database/scripts/api-report.ts
  packages/firestore/package.json
  packages/firestore/scripts/api-report.js
  repo-scripts/prune-dts/extract-public-api.ts
Labels: api: database, api: firestore

#4785 Fix DatastoreImpl.terminate() to actually set the `terminated` flag.
  packages/firestore/src/remote/datastore.ts
Labels: api: firestore

#4788 Ensure errors are wrapped in FirestoreError in DatastoreImpl methods
  .changeset/clever-icons-leave.md
  packages/firestore/src/remote/datastore.ts
  packages/firestore/test/unit/remote/datastore.test.ts
Labels: api: firestore

#4810 Don't send empty GMPID header
  .changeset/five-wolves-tickle.md
  packages/firestore/src/platform/node/grpc_connection.ts
  packages/firestore/src/remote/rest_connection.ts
Labels: api: firestore

#4814 Support Node in database@exp
  packages/database/exp/index.node.ts
Labels: api: database

#4828 Fix db.useEmulator
  .changeset/sweet-monkeys-warn.md
  packages/database/src/core/PersistentConnection.ts
  packages/database/src/exp/Database.ts
Labels: api: database

#4817 Make Converter explicit
  packages/firestore/src/api/database.ts
  packages/firestore/src/exp/database.ts
  packages/firestore/src/exp/reference_impl.ts
  packages/firestore/src/exp/snapshot.ts
  packages/firestore/src/exp/transaction.ts
  packages/firestore/src/lite/database.ts
  packages/firestore/src/lite/query.ts
  packages/firestore/src/lite/reference.ts
  packages/firestore/src/lite/reference_impl.ts
  packages/firestore/src/lite/transaction.ts
  packages/firestore/src/lite/write_batch.ts
Labels: api: firestore

#4832 Fix cancelCallback for child_added events
  .changeset/fluffy-oranges-cross.md
  packages/database/src/exp/Reference_impl.ts
Labels: api: database
