Repository firebase/firebase-js-sdk, pull requests merged in 2022-10, with the labels that each got.

#6649 Enable COUNT integration tests, now that backend support has rolled out
  packages/firestore/test/integration/api_internal/aggregation.test.ts
  packages/firestore/test/lite/integration.test.ts
Labels: api: firestore

#6629 Mfa totp demoapp
  common/api-review/auth.api.md
  packages/auth/demo/package.json
  packages/auth/demo/public/index.html
  packages/auth/demo/public/style.css
  packages/auth/demo/src/index.js
  packages/auth/index.ts
  packages/auth/src/mfa/assertions/totp.ts
Labels: doc-changes

#6653 Implemented exponential backoff with query
  .changeset/large-lamps-reflect.md
  common/api-review/storage.api.md
  packages/storage/src/implementation/backoff.ts
  packages/storage/src/implementation/constants.ts
  packages/storage/src/implementation/error.ts
  packages/storage/src/implementation/request.ts
  packages/storage/src/implementation/requests.ts
  packages/storage/src/implementation/utils.ts
  packages/storage/src/service.ts
  packages/storage/src/task.ts
  packages/storage/test/unit/requests.test.ts
  packages/storage/test/unit/task.test.ts
  packages/storage/test/unit/testshared.ts
  packages/storage/test/unit/utils.test.ts
Labels: doc-changes

#6643 Make COUNT queries available to the Firestore Console
  .changeset/metal-goats-unite.md
  packages/firestore-compat/src/index.console.ts
  packages/firestore/src/platform/browser/webchannel_connection.ts
  packages/webchannel-wrapper/src/index.d.ts
  packages/webchannel-wrapper/src/index.js
Labels: api: firestore, do-not-merge

#6671 Update public api signature for setUserId to reflect internal functions
  .changeset/moody-icons-repeat.md
  common/api-review/analytics.api.md
  packages/analytics/src/api.ts
  packages/analytics/src/functions.test.ts
Labels: doc-changes

#6656 Expose only necessary recaptcha errors
  common/api-review/auth.api.md
  packages/auth/src/api/errors.ts
  packages/auth/src/core/credentials/email.ts
  packages/auth/src/core/errors.ts
  packages/auth/src/core/strategies/email_and_password.ts
  packages/auth/src/core/strategies/email_link.ts
Labels: doc-changes

#6626 sign-in flow for totp
  packages/auth/demo/public/index.html
  packages/auth/demo/src/index.js
  packages/auth/src/api/authentication/mfa.ts
  packages/auth/src/mfa/assertions/totp.ts
Labels: doc-changes

#6640 Unit test cases for sign-in flow
  packages/auth/src/mfa/assertions/totp.test.ts
Labels: doc-changes

#6722 Expose 'icon' field from the Firebase Messaging SDK
  .changeset/lovely-swans-shake.md
  common/api-review/messaging-sw.api.md
  common/api-review/messaging.api.md
  packages/messaging/src/helpers/externalizePayload.test.ts
  packages/messaging/src/helpers/externalizePayload.ts
  packages/messaging/src/interfaces/internal-message-payload.ts
  packages/messaging/src/interfaces/public-types.ts
Labels: doc-changes
