Repository firebase/firebase-js-sdk, pull requests merged in 2022-02, with the labels that each got.

#5956 Add getReactNativePersistence to docs
  packages/auth/index.doc.ts
  packages/auth/src/model/public_types.ts
Labels: doc-changes

#5764 Remove Fei from codeowners
  .github/CODEOWNERS
  renovate.json
Labels: cla: yes

#5954 Add Index Schema
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/indexeddb_schema_converter.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
Labels: api: firestore

#5958 Change Bound.before to Bound.inclusive
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/target.ts
  packages/firestore/src/lite-api/query.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/model/target.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore, doc-changes

#5960 Port IndexManager APIs
  packages/firestore/src/local/index_manager.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/memory_index_manager.ts
Labels: api: firestore

#5982 Use transaction.commit() if available
  .changeset/green-parents-compare.md
  packages/firestore/src/local/simple_db.ts
Labels: api: firestore

#5986 Use RemoteDocumentCache.getAll()
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/remote_document_cache.ts
  packages/firestore/test/unit/local/counting_query_engine.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
Labels: api: firestore

#5975 Port TargetIndexMatcher
  packages/firestore/src/model/target_index_matcher.ts
  packages/firestore/test/unit/model/target_index_matcher.test.ts
Labels: api: firestore

#5985 Use getAll() when available
  .changeset/late-tables-juggle.md
  packages/firestore/src/local/simple_db.ts
Labels: api: firestore

#6001 Fix test that randomly started failing with node:test:persistence
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
Labels: api: firestore

#5999 IndexeddbIndexManager.updateEntries()
  packages/firestore/src/index/index_byte_encoder.ts
  packages/firestore/src/index/index_entry.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/indexeddb_schema_converter.ts
  packages/firestore/src/model/document_key.ts
  packages/firestore/src/util/sorted_set.ts
  packages/firestore/test/unit/local/index_manager.test.ts
  packages/firestore/test/unit/util/sorted_set.test.ts
Labels: api: firestore

#6002 Use package import for GRPC
  packages/firestore/src/platform/node/grpc_connection.ts
  packages/firestore/src/platform/node/load_protos.ts
Labels: api: firestore

#6015 document_overlay_cache.test.ts: added a test for updating a document's overlay
  packages/firestore/test/unit/local/document_overlay_cache.test.ts
Labels: api: firestore

#6008 Implement Index Scanning
  packages/firestore/src/core/target.ts
  packages/firestore/src/index/index_entry.ts
  packages/firestore/src/local/index_manager.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/memory_index_manager.ts
  packages/firestore/src/local/simple_db.ts
  packages/firestore/src/model/field_index.ts
  packages/firestore/src/model/type_order.ts
  packages/firestore/src/model/values.ts
  packages/firestore/src/platform/node/base64.ts
  packages/firestore/src/util/byte_string.ts
  packages/firestore/test/unit/api/bytes.test.ts
  packages/firestore/test/unit/local/index_manager.test.ts
  packages/firestore/test/unit/local/simple_db.test.ts
  packages/firestore/test/unit/local/test_index_manager.ts
Labels: api: firestore

#5762 Add `await` to `onBackgroundMessage` callback
  packages/messaging/src/listeners/sw-listeners.ts
Labels: cla: yes

#5723 Implement heartbeat controller
  .changeset/quick-moons-play.md
  packages/app/package.json
  packages/app/src/errors.ts
  packages/app/src/heartbeatService.test.ts
  packages/app/src/heartbeatService.ts
  packages/app/src/indexeddb.ts
  packages/app/src/internal.ts
  packages/app/src/public-types.ts
  packages/app/src/registerCoreComponents.ts
  packages/app/src/types.ts
Labels: cla: yes

#6031 Make getNextCollectionGroupToUpdate() deterministic
  packages/firestore/src/local/indexeddb_index_manager.ts
Labels: api: firestore

#6029 Use interfaces for IndexedDB
  packages/firestore/src/local/indexeddb_bundle_cache.ts
  packages/firestore/src/local/indexeddb_document_overlay_cache.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/indexeddb_lru_delegate_impl.ts
  packages/firestore/src/local/indexeddb_mutation_batch_impl.ts
  packages/firestore/src/local/indexeddb_mutation_queue.ts
  packages/firestore/src/local/indexeddb_persistence.ts
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/indexeddb_schema_converter.ts
  packages/firestore/src/local/indexeddb_sentinels.ts
  packages/firestore/src/local/indexeddb_target_cache.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/local_serializer.test.ts
  packages/firestore/test/unit/local/persistence_transaction.test.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
Labels: api: firestore
