Repository firebase/firebase-js-sdk, pull requests merged in 2022-01, with the labels that each got.

#5831 Change FirestoreError to extend FirebaseError
  .changeset/big-otters-reply.md
  common/api-review/firestore-lite.api.md
  common/api-review/firestore.api.md
  packages/firestore/src/util/error.ts
  packages/storage/src/implementation/error.ts
  packages/util/src/errors.ts
  repo-scripts/prune-dts/.run/AllTests.run.xml
  repo-scripts/prune-dts/extract-public-api.ts
  repo-scripts/prune-dts/prune-dts.ts
  repo-scripts/prune-dts/tests/error.input.d.ts
  repo-scripts/prune-dts/tests/error.output.d.ts
Labels: api: storage, api: firestore, doc-changes

#5816 Add double to bit encoding for OrderedCode
  packages/firestore/src/index/ordered_code_writer.ts
  packages/firestore/test/unit/index/ordered_code_writer.test.ts
Labels: api: firestore

#5817 Add UTF-8 Encoding to OrderedCode
  packages/firestore/src/index/ordered_code_writer.ts
  packages/firestore/test/unit/index/ordered_code_writer.test.ts
Labels: api: firestore

#5821 Finish OrderedCode
  packages/firestore/src/index/ordered_code_writer.ts
  packages/firestore/src/util/byte_string.ts
  packages/firestore/test/unit/index/ordered_code_writer.test.ts
Labels: api: firestore

#5835 Clear the lastLimboFreeSnapshot version on existence filter mismatch
  .changeset/unlucky-files-smoke.md
  packages/firestore/src/local/local_store_impl.ts
  packages/firestore/test/unit/generate_spec_json.sh
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/specs/existence_filter_spec.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#5869 Fix Firestore compile
  packages/util/package.json
  packages/util/src/errors.ts
Labels: api: firestore

#5870 Add explicit tests for Compat
  packages/firestore-compat/.idea/runConfigurations/Integration_Tests__Emulator_.xml
  packages/firestore-compat/babel-register.js
  packages/firestore-compat/babel.config.json
  packages/firestore-compat/karma.conf.js
  packages/firestore-compat/package.json
  packages/firestore-compat/test/array_transforms.test.ts
  packages/firestore-compat/test/batch_writes.test.ts
  packages/firestore-compat/test/bootstrap.ts
  packages/firestore-compat/test/bundle.test.ts
  packages/firestore-compat/test/cursor.test.ts
  packages/firestore-compat/test/database.test.ts
  packages/firestore-compat/test/fields.test.ts
  packages/firestore-compat/test/get_options.test.ts
  packages/firestore-compat/test/numeric_transforms.test.ts
  packages/firestore-compat/test/query.test.ts
  packages/firestore-compat/test/server_timestamp.test.ts
  packages/firestore-compat/test/smoke.test.ts
  packages/firestore-compat/test/transactions.test.ts
  packages/firestore-compat/test/type.test.ts
  packages/firestore-compat/test/util/equality_matcher.ts
  packages/firestore-compat/test/util/events_accumulator.ts
  packages/firestore-compat/test/util/firebase_export.ts
  packages/firestore-compat/test/util/helpers.ts
  packages/firestore-compat/test/util/promise.ts
  packages/firestore-compat/test/util/settings.ts
  packages/firestore-compat/test/validation.test.ts
Labels: api: firestore

#5830 Fix Vercel build
  .changeset/eight-cows-push.md
  packages/firestore/rollup.config.js
Labels: api: firestore

#5880 Improve testIgnoresTargetMappingAfterExistenceFilterMismatch
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#5844 Port Compat tests to v9 API
  integration/firestore/firebase_export.ts
  integration/firestore/gulpfile.js
  integration/firestore/package.json
  packages/firestore-compat/test/validation.test.ts
  packages/firestore/package.json
  packages/firestore/scripts/prepare-test.js
  packages/firestore/scripts/prepare-test.ts
  packages/firestore/src/api/snapshot.ts
  packages/firestore/src/lite-api/query.ts
  packages/firestore/src/lite-api/snapshot.ts
  packages/firestore/src/lite-api/user_data_reader.ts
  packages/firestore/test/integration/api/array_transforms.test.ts
  packages/firestore/test/integration/api/batch_writes.test.ts
  packages/firestore/test/integration/api/bundle.test.ts
  packages/firestore/test/integration/api/cursor.test.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api/fields.test.ts
  packages/firestore/test/integration/api/get_options.test.ts
  packages/firestore/test/integration/api/numeric_transforms.test.ts
  packages/firestore/test/integration/api/query.test.ts
  packages/firestore/test/integration/api/server_timestamp.test.ts
  packages/firestore/test/integration/api/smoke.test.ts
  packages/firestore/test/integration/api/transactions.test.ts
  packages/firestore/test/integration/api/type.test.ts
  packages/firestore/test/integration/api/validation.test.ts
  packages/firestore/test/integration/api_internal/database.test.ts
  packages/firestore/test/integration/api_internal/idle_timeout.test.ts
  packages/firestore/test/integration/api_internal/transaction.test.ts
  packages/firestore/test/integration/bootstrap.ts
  packages/firestore/test/integration/browser/indexeddb.test.ts
  packages/firestore/test/integration/prime_backend.test.ts
  packages/firestore/test/integration/util/events_accumulator.ts
  packages/firestore/test/integration/util/firebase_export.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/integration/util/internal_helpers.ts
  packages/firestore/test/integration/util/settings.ts
  packages/firestore/test/register.ts
  packages/firestore/test/unit/api/bytes.test.ts
  packages/firestore/test/unit/api/database.test.ts
  packages/firestore/test/unit/api/document_change.test.ts
  packages/firestore/test/unit/api/field_value.test.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/local/local_store.test.ts
  packages/firestore/test/unit/model/mutation.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/util/api_helpers.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#5883 Load Protos from JSON
  .changeset/selfish-pots-fetch.md
  packages/firestore/rollup.config.js
  packages/firestore/rollup.config.lite.js
  packages/firestore/src/platform/node/load_protos.ts
  packages/firestore/src/protos/google/api/annotations.proto
  packages/firestore/src/protos/google/api/http.proto
  packages/firestore/src/protos/google/firestore/v1/common.proto
  packages/firestore/src/protos/google/firestore/v1/document.proto
  packages/firestore/src/protos/google/firestore/v1/firestore.proto
  packages/firestore/src/protos/google/firestore/v1/query.proto
  packages/firestore/src/protos/google/firestore/v1/write.proto
  packages/firestore/src/protos/google/rpc/status.proto
  packages/firestore/src/protos/google/type/latlng.proto
  packages/firestore/src/protos/protos.json
  packages/firestore/src/protos/update.sh
Labels: api: firestore

#5843 Add setIndexConfiguration API
  packages/firestore/src/api.ts
  packages/firestore/src/api/database.ts
  packages/firestore/src/api/index_configuration.ts
  packages/firestore/src/model/field_index.ts
  packages/firestore/test/integration/api/index_configuration.test.ts
Labels: api: firestore

#5739 Maybe fix deprecation warning
  packages/auth/index.rn.ts
Labels: cla: yes

#5917 Fix Proto loading for Node tests
  packages/firestore/src/protos/google/api/client.proto
  packages/firestore/src/protos/google/api/field_behavior.proto
  packages/firestore/src/protos/protos.json
  packages/firestore/src/protos/update.sh
Labels: api: firestore

#5925 Add ReadTime to MutableDocument
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/local/local_store_impl.ts
  packages/firestore/src/local/memory_remote_document_cache.ts
  packages/firestore/src/local/remote_document_change_buffer.ts
  packages/firestore/src/model/document.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/test/unit/local/indexeddb_persistence.test.ts
  packages/firestore/test/unit/local/lru_garbage_collector.test.ts
  packages/firestore/test/unit/local/query_engine.test.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#5916 Port IndexState and IndexOffset
  packages/firestore/src/api/index_configuration.ts
  packages/firestore/src/model/document_key.ts
  packages/firestore/src/model/field_index.ts
  packages/firestore/test/unit/model/field_index.test.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore

#5943 Public api
  common/api-review/auth.api.md
  packages/auth/src/core/auth/auth_impl.ts
  packages/auth/src/core/index.ts
  packages/auth/src/model/auth.ts
  packages/auth/src/model/public_types.ts
Labels: doc-changes

#5950 Fix compilation for MemoryRemoteDocumentCache
  packages/firestore/src/core/sync_engine_impl.ts
  packages/firestore/src/local/indexeddb_lru_delegate_impl.ts
  packages/firestore/src/local/memory_persistence.ts
Labels: api: firestore

#5955 Enable abortOnError for Firestore
  packages/firestore/rollup.config.debug.js
  packages/firestore/rollup.config.js
  packages/firestore/rollup.config.lite.js
  packages/firestore/rollup.shared.js
Labels: api: firestore

#5929 Port Filter/Target changes
  packages/firestore/src/api.ts
  packages/firestore/src/api/filter.ts
  packages/firestore/src/core/database_info.ts
  packages/firestore/src/core/target.ts
  packages/firestore/src/local/local_serializer.ts
  packages/firestore/src/model/field_index.ts
  packages/firestore/src/model/values.ts
  packages/firestore/src/remote/serializer.ts
  packages/firestore/src/remote/watch_change.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/model/target.test.ts
  packages/firestore/test/unit/model/values.test.ts
  packages/firestore/test/unit/remote/serializer.helper.ts
  packages/firestore/test/util/helpers.ts
Labels: api: firestore
