Repository firebase/firebase-js-sdk, pull requests merged in 2022-04, with the labels that each got.

#6126 Fix websocketonly flag
  .changeset/twenty-shoes-cheer.md
  CONTRIBUTING.md
  README.md
  packages/database/src/core/util/libs/parser.ts
  packages/database/test/parser.test.ts
Labels: api: database

#5790 fix: Add type check for `process.env`
  packages/database/src/api/Database.ts
Labels: cla: yes

#6128 Fix the ordering of the index-based lookup in getAll(keys)
  .changeset/nasty-hairs-knock.md
  packages/firestore/src/local/indexeddb_remote_document_cache.ts
  packages/firestore/src/local/simple_db.ts
  packages/firestore/test/unit/local/remote_document_cache.test.ts
  packages/firestore/test/unit/local/simple_db.test.ts
  packages/firestore/test/unit/local/test_remote_document_cache.ts
Labels: api: firestore

#6143 Support plumbing for partial index execution
  packages/firestore/src/core/target.ts
  packages/firestore/src/local/index_manager.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/memory_index_manager.ts
  packages/firestore/test/unit/local/index_manager.test.ts
  packages/firestore/test/unit/local/test_index_manager.ts
Labels: api: firestore

#6155 Rename methods to match Android/iOS
  packages/firestore/src/core/target.ts
Labels: api: firestore

#6157 Misc fixes for indexing
  packages/firestore/src/local/indexeddb_index_manager.ts
Labels: api: firestore

#6153 Port QueryEngine
  packages/firestore/src/core/query.ts
  packages/firestore/src/core/view.ts
  packages/firestore/src/lite-api/query.ts
  packages/firestore/src/lite-api/reference_impl.ts
  packages/firestore/src/local/index_manager.ts
  packages/firestore/src/local/indexeddb_index_manager.ts
  packages/firestore/src/local/indexeddb_schema.ts
  packages/firestore/src/local/local_documents_view.ts
  packages/firestore/src/local/local_store_impl.ts
  packages/firestore/src/local/memory_index_manager.ts
  packages/firestore/src/local/query_engine.ts
  packages/firestore/src/model/collections.ts
  packages/firestore/src/util/misc.ts
  packages/firestore/test/unit/core/query.test.ts
  packages/firestore/test/unit/local/counting_query_engine.ts
  packages/firestore/test/unit/local/index_manager.test.ts
  packages/firestore/test/unit/local/query_engine.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
Labels: api: firestore

#6162 Add httpsCallableFromURL
  .changeset/new-bugs-think.md
  common/api-review/functions.api.md
  e2e/sample-apps/modular.js
  e2e/tests/modular.test.ts
  packages/functions-compat/src/service.ts
  packages/functions/src/api.ts
  packages/functions/src/service.ts
Labels: doc-changes
