Repository firebase/firebase-js-sdk, pull requests merged in 2023-04, with the labels that each got.

#7203 Catch all recaptcha errors
  .changeset/shaggy-zebras-leave.md
  packages/app-check/src/api.test.ts
  packages/app-check/src/internal-api.test.ts
  packages/app-check/src/providers.test.ts
  packages/app-check/src/providers.ts
  packages/app-check/src/recaptcha.test.ts
  packages/app-check/src/recaptcha.ts
  packages/app-check/src/state.ts
  packages/app-check/test/util.ts
Labels: api: appcheck

#7226 Remove obsolete mentions of firestore@exp
  packages/firestore/src/lite-api/settings.ts
Labels: api: firestore, alpha

#6943 Memory LRU GC
  .changeset/olive-cycles-count.md
  common/api-review/firestore.api.md
  docs-devsite/firestore_.md
  docs-devsite/firestore_.memorycachesettings.md
  docs-devsite/firestore_.memoryeagergarbagecollector.md
  docs-devsite/firestore_.memorylrugarbagecollector.md
  packages/firestore/src/api.ts
  packages/firestore/src/api/cache_config.ts
  packages/firestore/src/core/component_provider.ts
  packages/firestore/src/core/firestore_client.ts
  packages/firestore/src/local/lru_garbage_collector_impl.ts
  packages/firestore/src/local/memory_persistence.ts
  packages/firestore/test/integration/api/database.test.ts
  packages/firestore/test/integration/api/get_options.test.ts
  packages/firestore/test/integration/util/helpers.ts
  packages/firestore/test/unit/specs/bundle_spec.test.ts
  packages/firestore/test/unit/specs/existence_filter_spec.test.ts
  packages/firestore/test/unit/specs/garbage_collection_spec.test.ts
  packages/firestore/test/unit/specs/limbo_spec.test.ts
  packages/firestore/test/unit/specs/limit_spec.test.ts
  packages/firestore/test/unit/specs/listen_spec.test.ts
  packages/firestore/test/unit/specs/orderby_spec.test.ts
  packages/firestore/test/unit/specs/perf_spec.test.ts
  packages/firestore/test/unit/specs/persistence_spec.test.ts
  packages/firestore/test/unit/specs/recovery_spec.test.ts
  packages/firestore/test/unit/specs/remote_store_spec.test.ts
  packages/firestore/test/unit/specs/resume_token_spec.test.ts
  packages/firestore/test/unit/specs/spec_builder.ts
  packages/firestore/test/unit/specs/spec_test_components.ts
  packages/firestore/test/unit/specs/spec_test_runner.ts
  packages/firestore/test/unit/specs/write_spec.test.ts
Labels: doc-changes

#7235 Firestore: use unique collection names in integration tests
  packages/firestore/test/lite/integration.test.ts
Labels: api: firestore

#7237 Firestore: database.test.ts: add unit tests for long polling settings interpretation
  packages/firestore/test/unit/api/database.test.ts
Labels: api: firestore

#7242 Firestore: database.test.ts: add tests for coercing long polling settings to boolean
  packages/firestore/test/unit/api/database.test.ts
Labels: api: firestore

#7239 Firestore: settings.ts: very minor refactor of long-polling logic.
  packages/firestore/src/lite-api/settings.ts
Labels: api: firestore

#7257 Firestore: use string values for TargetPurpose enum
  packages/firestore/src/local/target_data.ts
Labels: api: firestore
